<?

// Functions
function grow(v){
    v = 1 + v / 100; R?>
    -webkit-transform: scale(${v});
    -ms-transform: scale(${v});
    transform: scale(${v});
<?}

// Build CSS
O?><?
setBPX(bps, function(b){R?>
    
    .${r} .${x}${s}${b}grow10 { ${grow(10)} }
    .${r} .${x}${s}${b}grow20 { ${grow(20)} }
    .${r} .${x}${s}${b}grow30 { ${grow(30)} }
    .${r} .${x}${s}${b}grow40 { ${grow(40)} }
    .${r} .${x}${s}${b}grow50 { ${grow(50)} }
    .${r} .${x}${s}${b}grow60 { ${grow(60)} }
    .${r} .${x}${s}${b}grow70 { ${grow(70)} }
    .${r} .${x}${s}${b}grow80 { ${grow(80)} }
    .${r} .${x}${s}${b}grow90 { ${grow(90)} }
    .${r} .${x}${s}${b}grow100 { ${grow(100)} }
    .${r} .${x}${s}${b}grow0 { ${grow(0)} }
    
<?});

?>
