<?

// Functions
function mar(v){
typeof v == 'undefined'?
v = 1:''; R?>
    margin: ${spc*v}em;
<?}

function marX(v){
typeof v == 'undefined'?
v = 1:''; R?>
    margin-left: ${spc*v}em;
    margin-right: ${spc*v}em;
<?}

function marY(v){
typeof v == 'undefined'?
v = 1:''; R?>
    margin-top: ${spc*v}em;
    margin-bottom: ${spc*v}em;
<?}

function marT(v){
typeof v == 'undefined'?
v = 1:''; R?>
    margin-top: ${spc*v}em;
<?}

function marR(v){
typeof v == 'undefined'?
v = 1:''; R?>
    margin-right: ${spc*v}em;
<?}

function marB(v){
typeof v == 'undefined'?
v = 1:''; R?>
    margin-bottom: ${spc*v}em;
<?}

function marL(v){
typeof v == 'undefined'?
v = 1:''; R?>
    margin-left: ${spc*v}em;
<?}

// Build CSS
O?><?
setBPX(bps, function(b){
var vsm = 1;
var vmd = 2;
var vlg = 3;
R?>
    
    .${r} .${x}${s}${b}mar { ${mar(vsm)} }
    .${r} .${x}${s}${b}mar-sm { ${mar(vsm)} }
    .${r} .${x}${s}${b}mar-md { ${mar(vmd)} }
    .${r} .${x}${s}${b}mar-lg { ${mar(vlg)} }
    .${r} .${x}${s}${b}mar-no { ${mar(0)} }
    
    .${r} .${x}${s}${b}mar-x { ${marX(vsm)} }
    .${r} .${x}${s}${b}mar-x-sm { ${marX(vsm)} }
    .${r} .${x}${s}${b}mar-x-md { ${marX(vmd)} }
    .${r} .${x}${s}${b}mar-x-lg { ${marX(vlg)} }
    .${r} .${x}${s}${b}mar-x-no { ${marX(0)} }
    
    .${r} .${x}${s}${b}mar-y { ${marY(vsm)} }
    .${r} .${x}${s}${b}mar-y-sm { ${marY(vsm)} }
    .${r} .${x}${s}${b}mar-y-md { ${marY(vmd)} }
    .${r} .${x}${s}${b}mar-y-lg { ${marY(vlg)} }
    .${r} .${x}${s}${b}mar-y-no { ${marY(0)} }
    
    .${r} .${x}${s}${b}mar-t { ${marT(vsm)} }
    .${r} .${x}${s}${b}mar-t-sm { ${marT(vsm)} }
    .${r} .${x}${s}${b}mar-t-md { ${marT(vmd)} }
    .${r} .${x}${s}${b}mar-t-lg { ${marT(vlg)} }
    .${r} .${x}${s}${b}mar-t-no { ${marT(0)} }
    
    .${r} .${x}${s}${b}mar-r { ${marR(vsm)} }
    .${r} .${x}${s}${b}mar-r-sm { ${marR(vsm)} }
    .${r} .${x}${s}${b}mar-r-md { ${marR(vmd)} }
    .${r} .${x}${s}${b}mar-r-lg { ${marR(vlg)} }
    .${r} .${x}${s}${b}mar-r-no { ${marR(0)} }
    
    .${r} .${x}${s}${b}mar-b { ${marB(vsm)} }
    .${r} .${x}${s}${b}mar-b-sm { ${marB(vsm)} }
    .${r} .${x}${s}${b}mar-b-md { ${marB(vmd)} }
    .${r} .${x}${s}${b}mar-b-lg { ${marB(vlg)} }
    .${r} .${x}${s}${b}mar-b-no { ${marB(0)} }
    
    .${r} .${x}${s}${b}mar-l { ${marL(vsm)} }
    .${r} .${x}${s}${b}mar-l-sm { ${marL(vsm)} }
    .${r} .${x}${s}${b}mar-l-md { ${marL(vmd)} }
    .${r} .${x}${s}${b}mar-l-lg { ${marL(vlg)} }
    .${r} .${x}${s}${b}mar-l-no { ${marL(0)} }
    
<?});

?>
