<?

// Functions
function pad(v){
typeof v == 'undefined'?
v = 1:''; R?>
    padding: ${spc*v}em;
<?}

function padX(v){
typeof v == 'undefined'?
v = 1:''; R?>
    padding-left: ${spc*v}em;
    padding-right: ${spc*v}em;
<?}

function padY(v){
typeof v == 'undefined'?
v = 1:''; R?>
    padding-top: ${spc*v}em;
    padding-bottom: ${spc*v}em;
<?}

function padT(v){
typeof v == 'undefined'?
v = 1:''; R?>
    padding-top: ${spc*v}em;
<?}

function padR(v){
typeof v == 'undefined'?
v = 1:''; R?>
    padding-right: ${spc*v}em;
<?}

function padB(v){
typeof v == 'undefined'?
v = 1:''; R?>
    padding-bottom: ${spc*v}em;
<?}

function padL(v){
typeof v == 'undefined'?
v = 1:''; R?>
    padding-left: ${spc*v}em;
<?}

// Build CSS
O?><?
setBPX(bps, function(b){
var vsm = 1;
var vmd = 2;
var vlg = 3;
R?>
    
    .${r} .${x}${s}${b}pad { ${pad(vsm)} }
    .${r} .${x}${s}${b}pad-sm { ${pad(vsm)} }
    .${r} .${x}${s}${b}pad-md { ${pad(vmd)} }
    .${r} .${x}${s}${b}pad-lg { ${pad(vlg)} }
    .${r} .${x}${s}${b}pad-no { ${pad(0)} }
    
    .${r} .${x}${s}${b}pad-x { ${padX(vsm)} }
    .${r} .${x}${s}${b}pad-x-sm { ${padX(vsm)} }
    .${r} .${x}${s}${b}pad-x-md { ${padX(vmd)} }
    .${r} .${x}${s}${b}pad-x-lg { ${padX(vlg)} }
    .${r} .${x}${s}${b}pad-x-no { ${padX(0)} }
    
    .${r} .${x}${s}${b}pad-y { ${padY(vsm)} }
    .${r} .${x}${s}${b}pad-y-sm { ${padY(vsm)} }
    .${r} .${x}${s}${b}pad-y-md { ${padY(vmd)} }
    .${r} .${x}${s}${b}pad-y-lg { ${padY(vlg)} }
    .${r} .${x}${s}${b}pad-y-no { ${padY(0)} }
    
    .${r} .${x}${s}${b}pad-t { ${padT(vsm)} }
    .${r} .${x}${s}${b}pad-t-sm { ${padT(vsm)} }
    .${r} .${x}${s}${b}pad-t-md { ${padT(vmd)} }
    .${r} .${x}${s}${b}pad-t-lg { ${padT(vlg)} }
    .${r} .${x}${s}${b}pad-t-no { ${padT(0)} }
    
    .${r} .${x}${s}${b}pad-r { ${padR(vsm)} }
    .${r} .${x}${s}${b}pad-r-sm { ${padR(vsm)} }
    .${r} .${x}${s}${b}pad-r-md { ${padR(vmd)} }
    .${r} .${x}${s}${b}pad-r-lg { ${padR(vlg)} }
    .${r} .${x}${s}${b}pad-r-no { ${padR(0)} }
    
    .${r} .${x}${s}${b}pad-b { ${padB(vsm)} }
    .${r} .${x}${s}${b}pad-b-sm { ${padB(vsm)} }
    .${r} .${x}${s}${b}pad-b-md { ${padB(vmd)} }
    .${r} .${x}${s}${b}pad-b-lg { ${padB(vlg)} }
    .${r} .${x}${s}${b}pad-b-no { ${padB(0)} }
    
    .${r} .${x}${s}${b}pad-l { ${padL(vsm)} }
    .${r} .${x}${s}${b}pad-l-sm { ${padL(vsm)} }
    .${r} .${x}${s}${b}pad-l-md { ${padL(vmd)} }
    .${r} .${x}${s}${b}pad-l-lg { ${padL(vlg)} }
    .${r} .${x}${s}${b}pad-l-no { ${padL(0)} }
    
<?});

?>
