<?

// Functions
function bgSz(v){R?>
    background-size: ${v}%;
<?}
function cover(){R?>
    background-size: cover;
<?}
function contain(){R?>
    background-size: contain;
<?}

// Build CSS
O?><?
setBPX(bps, function(b){R?>
    .${r} .${x}${s}${b}bg-sz0  { ${bgSz(0)} }
    .${r} .${x}${s}${b}bg-sz10 { ${bgSz(10)} }
    .${r} .${x}${s}${b}bg-sz20 { ${bgSz(20)} }
    .${r} .${x}${s}${b}bg-sz30 { ${bgSz(30)} }
    .${r} .${x}${s}${b}bg-sz40 { ${bgSz(40)} }
    .${r} .${x}${s}${b}bg-sz50 { ${bgSz(50)} }
    .${r} .${x}${s}${b}bg-sz60 { ${bgSz(60)} }
    .${r} .${x}${s}${b}bg-sz70 { ${bgSz(70)} }
    .${r} .${x}${s}${b}bg-sz80 { ${bgSz(80)} }
    .${r} .${x}${s}${b}bg-sz90 { ${bgSz(90)} }
    .${r} .${x}${s}${b}bg-sz100 { ${bgSz(100)} }
    .${r} .${x}${s}${b}cover { ${cover()} }
    .${r} .${x}${s}${b}contain { ${contain()} }
<?});

?>
