<?
// Functions
function bd(v){r?>
    border-width: ${v};
    border-style: solid;
<?}
function bdX(v){r?>
    border-left-width: ${v};
    border-right-width: ${v};
    border-left-style: solid;
    border-right-style: solid;
<?}
function bdY(v){r?>
    border-top-width: ${v};
    border-bottom-width: ${v};
    border-top-style: solid;
    border-bottom-style: solid;
<?}
function bdT(v){r?>
    border-top-width: ${v};
    border-top-style: solid;
<?}
function bdR(v){r?>
    border-right-width: ${v};
    border-right-style: solid;
<?}
function bdB(v){r?>
    border-bottom-width: ${v};
    border-bottom-style: solid;
<?}
function bdL(v){r?>
    border-left-width: ${v};
    border-left-style: solid;
<?}
function dotted(){r?>
    border-style: dotted;
<?}
function dashed(){r?>
    border-style: dashed;
<?}

// Classes
function CLSBorder(bps) {

var vsm = '1px';
var vmd = '0.25em';
var vlg = '0.5em';

return setBPX(bps, function(b){r?>
    
    .${r} .${x}${s}${b}bd,
    .${r} .${x}${s}${b}bd-sm { ${bd(vsm)} }
    .${r} .${x}${s}${b}bd-md { ${bd(vmd)} }
    .${r} .${x}${s}${b}bd-lg { ${bd(vlg)} }
    .${r} .${x}${s}${b}bd-no { ${bd(0)} }
    
    .${r} .${x}${s}${b}bd-x,
    .${r} .${x}${s}${b}bd-x-sm { ${bdX(vsm)} }
    .${r} .${x}${s}${b}bd-x-md { ${bdX(vmd)} }
    .${r} .${x}${s}${b}bd-x-lg { ${bdX(vlg)} }
    .${r} .${x}${s}${b}bd-x-no { ${bdX(0)} }
    
    .${r} .${x}${s}${b}bd-y,
    .${r} .${x}${s}${b}bd-y-sm { ${bdY(vsm)} }
    .${r} .${x}${s}${b}bd-y-md { ${bdY(vmd)} }
    .${r} .${x}${s}${b}bd-y-lg { ${bdY(vlg)} }
    .${r} .${x}${s}${b}bd-y-no { ${bdY(0)} }
    
    .${r} .${x}${s}${b}bd-t,
    .${r} .${x}${s}${b}bd-t-sm { ${bdT(vsm)} }
    .${r} .${x}${s}${b}bd-t-md { ${bdT(vmd)} }
    .${r} .${x}${s}${b}bd-t-lg { ${bdT(vlg)} }
    .${r} .${x}${s}${b}bd-t-no { ${bdT(0)} }
    
    .${r} .${x}${s}${b}bd-r,
    .${r} .${x}${s}${b}bd-r-sm { ${bdR(vsm)} }
    .${r} .${x}${s}${b}bd-r-md { ${bdR(vmd)} }
    .${r} .${x}${s}${b}bd-r-lg { ${bdR(vlg)} }
    .${r} .${x}${s}${b}bd-r-no { ${bdR(0)} }
    
    .${r} .${x}${s}${b}bd-b,
    .${r} .${x}${s}${b}bd-b-sm { ${bdB(vsm)} }
    .${r} .${x}${s}${b}bd-b-md { ${bdB(vmd)} }
    .${r} .${x}${s}${b}bd-b-lg { ${bdB(vlg)} }
    .${r} .${x}${s}${b}bd-b-no { ${bdB(0)} }
    
    .${r} .${x}${s}${b}bd-l,
    .${r} .${x}${s}${b}bd-l-sm { ${bdL(vsm)} }
    .${r} .${x}${s}${b}bd-l-md { ${bdL(vmd)} }
    .${r} .${x}${s}${b}bd-l-lg { ${bdL(vlg)} }
    .${r} .${x}${s}${b}bd-l-no { ${bdL(0)} }
    
    .${r} .${x}${s}${b}dotted { ${dotted()} }
    .${r} .${x}${s}${b}dashed { ${dashed()} }
    
<?});
}?>
