<?
// Columns parent
function cols(){r?>
    display: table;
    width: 100%;
<?}

// Single column
function col(){r?>
    width: auto;
    float: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
<?}

// Sizing
function sameSz(){r?>
    table-layout: fixed;
<?}

function colSz(v){r?>
    width: ${((100/12)*v)}%
<?}

function colMinSz(v){r?>
    min-width: ${((100/12)*v)}%
<?}

function colMaxSz(v){r?>
    max-width: ${((100/12)*v)}%
<?}

/*Classes*/
function CLSCols(bps) {
    var out = '';
    
    // General
    out += setBPX(bps, function(b){ r?>
    .${r} .${x}${s}${b}same-sz { ${sameSz()} }
    .${r} .${x}${s}${b}cols { ${cols()} }
    .${r} .${x}${s}${b}col,
    .${r} .${x}${s}${b}cols > * { ${col()} }
    <?});
    
    // Cols
    out += setBPX(bps, function(b){
    var out = '';
    for (var i = 0; i <= 12; i++) {
    out += ?>.${r} .${x}${s}${b}col${i} { ${colSz(i)} }<?
    } return out; });
    
    // Min cols
    out += setBPX(bps, function(b){
    var out = '';
    for (var i = 0; i <= 12; i++) {
    out += ?>.${r} .${x}${s}${b}min-col${i} { ${colMinSz(i)} }<?
    } return out; });
    
    // Max cols
    out += setBPX(bps, function(b){
    var out = '';
    for (var i = 0; i <= 12; i++) {
    out += ?>.${r} .${x}${s}${b}max-col${i} { ${colMaxSz(i)} }<?
    } return out; });
    
    // Return
    return out;
}?>
