<?
// Functions
function pointer(){r?> cursor: pointer; <?}
function unsel(){r?>
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
<?}
function sel(){r?>
    -ms-user-select: auto;
    user-select: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
<?}
function cbox(){r?>
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
<?}
function bbox(){r?>
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
<?}

// Classes
function CLSExtra(bps) {
    return setBPX(bps, function(b){r?>
        
        .${r} .${x}${s}${b}pointer { ${pointer()} }
        .${r} .${x}${s}${b}unsel { ${unsel()} }
        .${r} .${x}${s}${b}sel { ${sel()} }
        .${r} .${x}${s}${b}cbox { ${cbox()} }
        .${r} .${x}${s}${b}bbox { ${bbox()} }
        
        /*Striped rows*/
        .${r} .${x}${s}${b}strp > *:nth-of-type(even) {
            background-color: rgba(0,0,0,0.05);
        }
        
    <?});
}?>
