<?

/*Functions*/
function jumbo(){r?> font-size: 2.6em; <?}
function bigger(){r?> font-size: 2.4em; <?}
function big(){r?> font-size: 2.2em; <?}
function h1(){r?> font-size: 2em; <?}
function h2(){r?> font-size: 1.8em; <?}
function h3(){r?> font-size: 1.6em; <?}
function h4(){r?> font-size: 1.4em; <?}
function h5(){r?> font-size: 1.2em; <?}
function h6(){r?> font-size: 1em; <?}
function small(){r?> font-size: 0.8em; <?}
function smaller(){r?> font-size: 0.6em; <?}
function micro(){r?> font-size: 0.4em; <?}
function h0(){r?> font-size: 0; <?}

function bolder(){r?> font-weight: 800; <?}
function bold(){r?> font-weight: 600; <?}
function regular(){r?> font-weight: 400; <?}
function thin(){r?> font-weight: 300; <?}
function thinner(){r?> font-weight: 200; <?}
function italic(){r?> font-style: italic; <?}
function upper(){r?> text-transform: uppercase; <?}
function lower(){r?> text-transform: lowercase; <?}
function under(){r?> text-transform: underline; <?}

function fallNo(){r?> white-space: nowrap; <?}
function fall(){r?> white-space: normal; <?}
function ellipsis(){r?>
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
<?}

function t01(){r?> top: 0.1em; <?}
function t015(){r?> top: 0.15em; <?}

function lnh0(){r?> line-height: 0; <?}
function lnh05(){r?> line-height: 0.5; <?}
function lnh1(){r?> line-height: 1; <?}

function pointer(){r?> cursor: pointer; <?}

function unsel(){r?>
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
<?}
function sel(){r?>
    -ms-user-select: auto;
    user-select: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
<?}

function block(){r?> display: block; <?}
function inl(){r?> display: inline-block; <?}
function cell(){r?> display: table-cell; <?}
function hide(){r?> visibility: hidden; <?}
function none(){r?> display: none; <?}
function abs(){r?> position: absolute; <?}
function rel(){r?> position: relative; <?}
function fix(){r?> position: fixed; <?}

function cbox(){r?>
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
<?}
function bbox(){r?>
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
<?}

function t0(){r?> top: 0; <?}
function r0(){r?> right: 0; <?}
function b0(){r?> bottom: 0; <?}
function l0(){r?> left: 0; <?}
function t100(){r?> top: 100%; <?}
function r100(){r?> right: 100%; <?}
function b100(){r?> bottom: 100%; <?}
function l100(){r?> left: 100%; <?}

function full(){r?> width: 100%; height: 100%; <?}
function fullX(){r?> width: 100%; <?}
function fullY(){r?> height: 100%; <?}
function fullMin(){r?> min-width: 100%; min-height: 100%; <?}
function fullMinX(){r?> min-width: 100%; <?}
function fullMinY(){r?> min-height: 100%; <?}
function fullMax(){r?> max-width: 100%; max-height: 100%; <?}
function fullMaxX(){r?> max-width: 100%; <?}
function fullMaxY(){r?> max-height: 100%; <?}

/*Classes*/
function generalClasses() { return
setBPX(bps, function(b){r?>
    
    .${r} .${x}${s}${b}jumbo { ${jumbo()} }
    .${r} .${x}${s}${b}bigger { ${bigger()} }
    .${r} .${x}${s}${b}big { ${big()} }
    .${r} .${x}${s}${b}h1 { ${h1()} }
    .${r} .${x}${s}${b}h2 { ${h2()} }
    .${r} .${x}${s}${b}h3 { ${h3()} }
    .${r} .${x}${s}${b}h4 { ${h4()} }
    .${r} .${x}${s}${b}h5 { ${h5()} }
    .${r} .${x}${s}${b}h6 { ${h6()} }
    .${r} .${x}${s}${b}small { ${small()} }
    .${r} .${x}${s}${b}smaller { ${smaller()} }
    .${r} .${x}${s}${b}micro { ${micro()} }
    .${r} .${x}${s}${b}h0 { ${h0()} }
    
    .${r} .${x}${s}${b}bolder { ${bolder()} }
    .${r} .${x}${s}${b}bold { ${bold()} }
    .${r} .${x}${s}${b}regular { ${regular()} }
    .${r} .${x}${s}${b}thin { ${thin} }
    .${r} .${x}${s}${b}thinner { ${thinner()} }
    .${r} .${x}${s}${b}italic { ${italic()} }
    .${r} .${x}${s}${b}upper { ${upper()} }
    .${r} .${x}${s}${b}lower { ${lower()} }
    .${r} .${x}${s}${b}underline { ${under()} }
    
    .${r} .${x}${s}${b}fall-no { ${fallNo()} }
    .${r} .${x}${s}${b}fall { ${fall()} }
    .${r} .${x}${s}${b}ellipsis { ${ellipsis()} }
    
    .${r} .${x}${s}${b}t01 { ${t01()} }
    .${r} .${x}${s}${b}t015 { ${t015()} }
    
    .${r} .${x}${s}${b}lnh0  { ${lnh0()} }
    .${r} .${x}${s}${b}lnh05 { ${lnh05()} }
    .${r} .${x}${s}${b}lnh1  { ${lnh1()} }
    
    .${r} .${x}${s}${b}pointer { ${pointer()} }
    
    .${r} .${x}${s}${b}unsel { ${unsel()} }
    .${r} .${x}${s}${b}sel { ${sel()} }
    
    .${r} .${x}${s}${b}block { ${block()} }
    .${r} .${x}${s}${b}inl  { ${inl()} }
    .${r} .${x}${s}${b}cell { ${cell()} }
    .${r} .${x}${s}${b}hide { ${hide()} }
    .${r} .${x}${s}${b}none { ${none()} }
    .${r} .${x}${s}${b}abs  { ${abs()} }
    .${r} .${x}${s}${b}rel  { ${rel()} }
    .${r} .${x}${s}${b}fix  { ${fix()} }
    
    .${r} .${x}${s}${b}cbox { ${cbox()} }
    .${r} .${x}${s}${b}bbox { ${bbox()} }
    
    .${r} .${x}${s}${b}t { ${t0()} }
    .${r} .${x}${s}${b}r { ${r0()} }
    .${r} .${x}${s}${b}b { ${b0()} }
    .${r} .${x}${s}${b}l { ${l0()} }
    .${r} .${x}${s}${b}t100 { ${t100()} }
    .${r} .${x}${s}${b}r100 { ${r100()} }
    .${r} .${x}${s}${b}b100 { ${b100()} }
    .${r} .${x}${s}${b}l100 { ${l100()} }
    
    .${r} .${x}${s}${b}full { ${full()} }
    .${r} .${x}${s}${b}full-x { ${fullX()} }
    .${r} .${x}${s}${b}full-y { ${fullY()} }
    .${r} .${x}${s}${b}full-min { ${fullMin()} }
    .${r} .${x}${s}${b}full-min-x { ${fullMinX()} }
    .${r} .${x}${s}${b}full-min-y { ${fullMinY()} }
    .${r} .${x}${s}${b}full-max { ${fullMax()} }
    .${r} .${x}${s}${b}full-max-x { ${fullMaxX()} }
    .${r} .${x}${s}${b}full-max-y { ${fullMaxY()} }
    
<?});
}?>
