<?

/*Functions*/
function full(){r?> width: 100%; height: 100%; <?}
function fullX(){r?> width: 100%; <?}
function fullY(){r?> height: 100%; <?}
function fullMin(){r?> min-width: 100%; min-height: 100%; <?}
function fullMinX(){r?> min-width: 100%; <?}
function fullMinY(){r?> min-height: 100%; <?}
function fullMax(){r?> max-width: 100%; max-height: 100%; <?}
function fullMaxX(){r?> max-width: 100%; <?}
function fullMaxY(){r?> max-height: 100%; <?}

/*Classes*/
function CLSSize() { return
setBPX(bps, function(b){r?>
    
    .${r} .${x}${s}${b}full { ${full()} }
    .${r} .${x}${s}${b}full-x { ${fullX()} }
    .${r} .${x}${s}${b}full-y { ${fullY()} }
    .${r} .${x}${s}${b}full-min { ${fullMin()} }
    .${r} .${x}${s}${b}full-min-x { ${fullMinX()} }
    .${r} .${x}${s}${b}full-min-y { ${fullMinY()} }
    .${r} .${x}${s}${b}full-max { ${fullMax()} }
    .${r} .${x}${s}${b}full-max-x { ${fullMaxX()} }
    .${r} .${x}${s}${b}full-max-y { ${fullMaxY()} }
    
<?});
}?>
