<?
function fntLogo(){R?>
    font-family: 'POWLogo';
<?}
function fntText(){R?>
    font-family: 'POWText';
<?}
function fntTitle(){R?>
    font-family: 'POWTitle';
<?}
function fntIcon(){R?>
    font-family: 'POWIcon';
    font-style: normal;
<?}

O?>
/*Logo*/
@font-face {
    ${fntLogo()}
    src: url('${FNTDIR}logo/logo.woff2') format('woff2'),
    url('${FNTDIR}/logo/logo.woff') format('woff');
}

/*Icon*/
@font-face {
    ${fntIcon()}
    src: url('${FNTDIR}icon/icon.woff2') format('woff2'),
    url('${FNTDIR}icon/icon.woff') format('woff');
}

/*Title*/
@font-face {
    font-family: 'POWTitle';
    src: url('${FNTDIR}spartan/spartan-black.woff2') format('woff2'),
    url('${FNTDIR}spartan/spartan-black.woff') format('woff');
}

/*Text*/
@font-face {
    ${fntText()}
    font-weight: 200;
    src: url('${FNTDIR}oswald/oswald-extralight.woff2') format('woff2'),
    url('${FNTDIR}oswald/oswald-extralight.woff') format('woff');
}
@font-face {
    ${fntText()}
    font-weight: 400;
    src: url('${FNTDIR}oswald/oswald-regular.woff2') format('woff2'),
    url('${FNTDIR}oswald/oswald-regular.woff') format('woff');
}
@font-face {
    ${fntText()}
    font-weight: 700;
    src: url('${FNTDIR}oswald/oswald-bold.woff2') format('woff2'),
    url('${FNTDIR}oswald/oswald-bold.woff') format('woff');
}

/*Default fonts*/
.${x} ,
.${x} input,
.${x} select,
.${x} textarea,
.${x} button { ${fntText()} color: ${cfg.clr.wht} }
.${x} .${x}-txt { ${fntText()} font-weight: normal; }
.${x} .${x}-ttl { ${fntTitle()} font-weight: normal; }

/*Font Icons*/
.${x} [class*="${x}-ico-"] { ${fntIcon()} ${inl()} }
.${x} .${x}-ico-audio-off:before { content: '\\E800'; }
.${x} .${x}-ico-audio-on:before { content: '\\E801'; }
.${x} .${x}-ico-back:before { content: '\\E802'; }
.${x} .${x}-ico-booster:before { content: '\\E803'; }
.${x} .${x}-ico-clock:before { content: '\\E804'; }
.${x} .${x}-ico-close:before { content: '\\E805'; }
.${x} .${x}-ico-edit:before { content: '\\E806'; }
.${x} .${x}-ico-exit:before { content: '\\E807'; }
.${x} .${x}-ico-help:before { content: '\\E808'; }
.${x} .${x}-ico-home:before { content: '\\E809'; }
.${x} .${x}-ico-menu:before { content: '\\E80A'; }
.${x} .${x}-ico-play:before { content: '\\E80B'; }
.${x} .${x}-ico-plus:before { content: '\\E80C'; }
.${x} .${x}-ico-upload:before { content: '\\E80D'; }
.${x} .${x}-ico-star:before { content: '\\E80E'; }
.${x} .${x}-ico-left:before { content: '\\E80F'; }
