<?O?>
html.${x}-act,
html.${x}-act body{
    overflow: hidden!important;
}

.${x} {
    ${t()}
    ${l()}
    ${fix()}
    ${unsel()}
    //${onTop()}
}

// Zoom content
.${x} { font-size: 18px; }
@media(max-width: 768px) {
    .${x} { font-size: 3.75vw; }
    .${x}-ui-wrap {
        width: 100%!important;
        max-width: 100%!important;
    }
}
@media(max-width: 320px) {
    .${x} { font-size: 12px; }
}
