<?
/*Functions*/
function abs(){R?> position: absolute; <?}
function rel(){R?> position: relative; <?}
function fix(){R?> position: fixed; <?}

/*Export classes to CSS*/
function ClassPosition(bps) {
    BPX(bps, function(b){R?>
    .${r} .${x}${b}abs { ${abs()} }
    .${r} .${x}${b}rel { ${rel()} }
    .${r} .${x}${b}fix { ${fix()} }
    .${r} .${x}${b}t { top: 0; }
    .${r} .${x}${b}r { right: 0; }
    .${r} .${x}${b}b { bottom: 0; }
    .${r} .${x}${b}l { left: 0; }
    <?});
}
?>
