<?
/*Functions*/
function radTL(v){
    !isdef(v)?v=cfg.rad+'px':''; R?>
    -webkit-border-top-left-radius: ${v};
    border-top-left-radius: ${v};
<?}
function radTR(v){
    !isdef(v)?v=cfg.rad+'px':''; R?>
    -webkit-border-top-right-radius: ${v};
    border-top-right-radius: ${v};
<?}
function radBL(v){
    !isdef(v)?v=cfg.rad+'px':''; R?>
    -webkit-border-bottom-left-radius: ${v};
    border-bottom-left-radius: ${v};
<?}
function radBR(v){
    !isdef(v)?v=cfg.rad+'px':''; R?>
    -webkit-border-bottom-right-radius: ${v};
    border-bottom-right-radius: ${v};
<?}
function radT(v){ return radTL(v)+radTR(v);}
function radR(v){ return radTR(v)+radBR(v);}
function radB(v){ return radBL(v)+radBR(v);}
function radL(v){ return radTL(v)+radBL(v);}
function rad(v) { return radT(v) + radB(v);}
function circ(){ return rad('50%');}

/*Export classes to CSS*/
function ClassRadius(bps) {
    BPX(bps, function(b){R?>
    
    .${r} .${x}${b}circ { ${circ()} }
    .${r} .${x}${b}rad { ${rad()} }
    .${r} .${x}${b}rad-no { ${rad(0)} }
    
    .${r} .${x}${b}rad-t { ${radT()} }
    .${r} .${x}${b}rad-r { ${radR()} }
    .${r} .${x}${b}rad-b { ${radB()} }
    .${r} .${x}${b}rad-l { ${radL()} }
    .${r} .${x}${b}rad-t-no { ${radT(0)} }
    .${r} .${x}${b}rad-r-no { ${radR(0)} }
    .${r} .${x}${b}rad-b-no { ${radB(0)} }
    .${r} .${x}${b}rad-l-no { ${radL(0)} }
    
    .${r} .${x}${b}rad-tl { ${radTL()} }
    .${r} .${x}${b}rad-tr { ${radTR()} }
    .${r} .${x}${b}rad-bl { ${radBL()} }
    .${r} .${x}${b}rad-br { ${radBR()} }
    
    .${r} .${x}${b}rad-tl-no { ${radTL(0)} }
    .${r} .${x}${b}rad-tr-no { ${radTR(0)} }
    .${r} .${x}${b}rad-bl-no { ${radBL(0)} }
    .${r} .${x}${b}rad-br-no { ${radBR(0)} }
    <?});
}
?>
