<?O?>
.${x} .${x}-bdg {
    ${bold()}
    ${shad()}
    ${bd('md')}
    ${alignC()}
    ${glossY(
        cfg.clr.prm,
        cfg.clr.sec
    )}
    ${bdColor('sec', cfg.drk)}
    padding: 0.5em;
    font-size: 0.65em;
    padding-top: 0.9em;
}
<?/*Override colors*/
for (var c in cfg.clr) {O?>
.${x} .${x}-bdg-${c} {
    ${glossY(
        cfg.clr[c],
        darken(cfg.clr[c], cfg.drk)
    )}
    ${bdColor(c, cfg.drk*2)}
}<?}?>
