<?

// Build CSS
O?><?
setBPX(bps, function(b){R?>
    
    /*Panel and derivates*/
    .${r} .${x}${s}pnl,
    .${r} .${x}${s}lbl,
    .${r} .${x}${s}bdg,
    .${r} .${x}${s}tag,
    .${r} .${x}${s}ipt,
    .${r} .${x}${s}btn {
        ${inl()}
        ${radius(rad)}
        ${FC(clr.txt)}
        ${BDC(darken(clr.pnl, drk))}
        ${BGC(clr.pnl)}
    }
    
    /*Labels and buttons*/
    .${r} .${x}${s}${b}lbl,
    .${r} .${x}${s}${b}btn {
        ${h6()}
        ${inl()}
        ${mar(0)}
        ${lnh(1.5)}
        ${FC(clr.wht)}
        ${BGC(clr.bdc)}
        ${BDC(clr.bdc)}
        padding: 0.25em 1em;
        white-space: nowrap;
        font-weight: inherit;
        font-family: inherit;
    }
    .${r} .${x}${s}btn {
        ${alignM()}
        ${pointer()}
    }
    .${r} .${x}${s}${b}btn:hover,
    .${r} .${x}${s}${b}btn.act {
        ${BGC(darken(clr.sys,drk))}
        ${BDC(darken(clr.sys,drk))}
    }
    
    /*Badges and tags*/
    .${r} .${x}${s}${b}bdg,
    .${r} .${x}${s}${b}tag {
        ${lnh(0)}
        ${smaller()}
        ${radius(rad)}
        padding: 0.6em 0.35em;
    }
    .${r} .${x}${s}${b}bdg {
        ${circ()}
    }
    
    /*Inputs*/
    .${r} .${x}${s}${b}ipt {
        ${inl()}
        ${fullX()}
        ${alignM()}
        ${lnh(1.5)}
        ${ellipsis()}
        color: inherit;
        padding: 0.25em 0.5em;
        background-color: transparent;
    }
    .${r} .${x}${s}${b}ipt[type="radio"],
    .${r} .${x}${s}${b}ipt[type="checkbox"] {
        width:0em;
        height:0em;
        padding:0.5em;
    }
    .${r} .${x}${s}ipt:focus {
        ${BDC(darken(clr.pnl, drk*2))};
    }
    
    /*Circled pictures*/
    .${r} .${x}${s}pic {
        ${inl()}
        ${circ()}
        ${alignM()}
        ${bgImg()}
        ${cover()}
        padding: 1em;
    }
    
<?});

// Colors
for (var c in clr) {
O?><?setBPX(bps, function(b){R?>
    
    .${r} .${x}${s}${b}pnl-${c},
    .${r} .${x}${s}${b}lbl-${c},
    .${r} .${x}${s}${b}bdg-${c},
    .${r} .${x}${s}${b}tag-${c},
    .${r} .${x}${s}${b}ipt-${c},
    .${r} .${x}${s}${b}btn-${c} {
        ${FC(clr.wht)}
        ${BGC(clr[c])}
        ${BDC(clr[c])}
    }
    .${r} .${x}${s}${b}btn-${c}:hover,
    .${r} .${x}${s}${b}btn-${c}.act {
        ${BGC(darken(clr[c],drk))}
        ${BDC(darken(clr[c],drk))}
    }
    .${r} .${x}${s}ipt-${c} {
        background-color: transparent;
    }
    .${r} .${x}${s}ipt-${c}:focus {
        ${BDC(darken(clr[c], drk))};
    }
    .${r} .${x}${s}${b}ipt[type="radio"],
    .${r} .${x}${s}${b}ipt[type="checkbox"] {
        ${BDC(darken(clr.pnl, drk*2))};
    }
    .${r} .${x}${s}${b}ipt-${c}[type="radio"]:checked:before,
    .${r} .${x}${s}${b}ipt-${c}[type="checkbox"]:checked:before {
        ${BGC(clr[c])};
    }
    
<?});}

?>
