<?

// Functions
function cols(){R?>
    display: table;
    width: 100%;
<?}
function col(){R?>
    width: auto;
    float: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
<?}
function sameSz(){R?>
    table-layout: fixed;
<?}
function colSz(v){R?>
    width: ${((100/12)*v)}%
<?}
function colMinSz(v){R?>
    min-width: ${((100/12)*v)}%
<?}
function colMaxSz(v){R?>
    max-width: ${((100/12)*v)}%
<?}

// Build CSS
O?><?
setBPX(bps, function(b){R?>
    .${r} .${x}${s}${b}same-sz { ${sameSz()} }
    .${r} .${x}${s}${b}cols { ${cols()} }
    .${r} .${x}${s}${b}col,
    .${r} .${x}${s}${b}cols > * { ${col()} }
<?});

for (var i = 0; i <= 12; i++) {
O?><?
setBPX(bps, function(b){R?>
    .${r} .${x}${s}${b}col${i} { ${colSz(i)} }
    .${r} .${x}${s}${b}min-col${i} { ${colMinSz(i)} }
    .${r} .${x}${s}${b}max-col${i} { ${colMaxSz(i)} }
<?});}

?>
