<?

// Functions
function mask(){R?> overflow: hidden; <?}
function maskX(){R?> overflow-x: hidden; <?}
function maskY(){R?> overflow-y: hidden; <?}
function scroll(){R?> overflow: auto; <?}
function scrollX(){R?> overflow-x: auto; <?}
function scrollY(){R?> overflow-y: auto; <?}
function ellipsis(){R?>
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
<?}
function swiper(){R?>
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
<?}

// Build CSS
O?><?
setBPX(bps, function(b){R?>
    
    .${r} .${x}${s}${b}mask { ${mask()} }
    .${r} .${x}${s}${b}mask-x { ${maskX()} }
    .${r} .${x}${s}${b}mask-y { ${maskY()} }
    .${r} .${x}${s}${b}scroll { ${scroll()} }
    .${r} .${x}${s}${b}scroll-x { ${scrollX()} }
    .${r} .${x}${s}${b}scroll-y { ${scrollY()} }
    .${r} .${x}${s}${b}ellipsis { ${ellipsis()} }
    .${r} .${x}${s}${b}swiper { ${swiper()} }
    .${r} .${x}${s}${b}swiper::-webkit-scrollbar { display: none; }
    
<?});

?>
