<?

// Functions
function radiusTL(v){R?>
    -webkit-border-top-left-radius: ${v}px;
    border-top-left-radius: ${v}px;
<?}
function radiusTR(v){R?>
    -webkit-border-top-right-radius: ${v}px;
    border-top-right-radius: ${v}px;
<?}
function radiusBL(v){R?>
    -webkit-border-bottom-left-radius: ${v}px;
    border-bottom-left-radius: ${v}px;
<?}
function radiusBR(v){R?>
    -webkit-border-bottom-right-radius: ${v}px;
    border-bottom-right-radius: ${v}px;
<?}
function radiusT(v){ return radiusTL(v)+radiusTR(v);}
function radiusR(v){ return radiusTR(v)+radiusBR(v);}
function radiusB(v){ return radiusBL(v)+radiusBR(v);}
function radiusL(v){ return radiusTL(v)+radiusBL(v);}
function radius(v) { return radiusT(v) + radiusB(v);}
function circ(){ var v = '99999px'; return radius(v);}

// Build CSS
O?><?
setBPX(bps, function(b){R?>
    
    .${r} .${x}${s}${b}circ { ${circ()} }
    .${r} .${x}${s}${b}rad { ${radius(rad)} }
    .${r} .${x}${s}${b}rad-no { ${radius(0)} }
    
    .${r} .${x}${s}${b}rad-t { ${radiusT(rad)} }
    .${r} .${x}${s}${b}rad-r { ${radiusR(rad)} }
    .${r} .${x}${s}${b}rad-b { ${radiusB(rad)} }
    .${r} .${x}${s}${b}rad-l { ${radiusL(rad)} }
    .${r} .${x}${s}${b}rad-t-no { ${radiusT(0)} }
    .${r} .${x}${s}${b}rad-r-no { ${radiusR(0)} }
    .${r} .${x}${s}${b}rad-b-no { ${radiusB(0)} }
    .${r} .${x}${s}${b}rad-l-no { ${radiusL(0)} }
    
    .${r} .${x}${s}${b}rad-tl { ${radiusTL(rad)} }
    .${r} .${x}${s}${b}rad-tr { ${radiusTR(rad)} }
    .${r} .${x}${s}${b}rad-bl { ${radiusBL(rad)} }
    .${r} .${x}${s}${b}rad-br { ${radiusBR(rad)} }
    
    .${r} .${x}${s}${b}rad-tl-no { ${radiusTL(0)} }
    .${r} .${x}${s}${b}rad-tr-no { ${radiusTR(0)} }
    .${r} .${x}${s}${b}rad-bl-no { ${radiusBL(0)} }
    .${r} .${x}${s}${b}rad-br-no { ${radiusBR(0)} }
    
<?});

?>
