<?
/*Functions*/
function bolder(){R?> font-weight: ${cfg.fwt.bdr}; <?}
function bold(){R?> font-weight: ${cfg.fwt.bld}; <?}
function regular(){R?> font-weight: ${cfg.fwt.reg}; <?}
function thin(){R?> font-weight: ${cfg.fwt.thn}; <?}
function thinner(){R?> font-weight: ${cfg.fwt.thr}; <?}
function italic(){R?> font-style: italic; <?}
function upper(){R?> text-transform: uppercase; <?}
function lower(){R?> text-transform: lowercase; <?}
function under(){R?> text-transform: underline; <?}
function ellip(){R?>
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
<?}

/*Export classes to CSS*/
function ClassText(bps) {
    BPX(bps, function(b){R?>
    .${r} .${x}${b}bolder { ${bolder()} }
    .${r} .${x}${b}bold { ${bold()} }
    .${r} .${x}${b}regular { ${regular()} }
    .${r} .${x}${b}thin { ${thin} }
    .${r} .${x}${b}thinner { ${thinner()} }
    .${r} .${x}${b}italic { ${italic()} }
    .${r} .${x}${b}upper { ${upper()} }
    .${r} .${x}${b}lower { ${lower()} }
    .${r} .${x}${b}under { ${under()} }
    .${r} .${x}${b}ellip { ${ellip()} }
    <?});
}
?>
