<?
/*Functions*/
function ease(s){
!isdef(s)?s=cfg.spd:'';R?>
    -webkit-transition: all ${s}s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all ${s}s cubic-bezier(0.25, 0.1, 0.25, 1);
<?}
function easeOut(s){
!isdef(s)?s=cfg.spd:'';R?>
    -webkit-transition: all ${s}s cubic-bezier(0, 0, 0.58, 1);
    transition: all ${s}s cubic-bezier(0, 0, 0.58, 1);
<?}
function easeOutBack(s){
!isdef(s)?s=cfg.spd:'';R?>
    -webkit-transition: all ${s}s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all ${s}s cubic-bezier(0.175, 0.885, 0.32, 1.275);
<?}
function easeProp(p){
!isdef(p)?p='all':'';R?>
    -webkit-transition-property: ${p};
    transition-property: ${p};
<?}

/*Export classes to CSS*/
function ClassTransition(bps) {
    BPX(bps, function(b){R?>
    .${r} .${x}${b}ease { ${ease()} }
    .${r} .${x}${b}ease-out { ${easeOut()} }
    .${r} .${x}${b}ease-out-back { ${easeOutBack()} }
    <?});
}
?>
