/*Align*/
.${r} .${x}al-c { text-align: center; }
.${r} .${x}al-r { text-align: right; }
.${r} .${x}al-l { text-align: left; }
.${r} .${x}al-m { vertical-align: middle; }
.${r} .${x}al-b { vertical-align: bottom; }
.${r} .${x}al-t { vertical-align: top; }
