/*BG Size*/
.${r} .${x}bg-cv { background-size: cover; }
.${r} .${x}bg-cn { background-size: contain; }

.${r} .${x}bg-x0 { background-size: 0; }
.${r} .${x}bg-x1 { background-size: 10%; }
.${r} .${x}bg-x2 { background-size: 20%; }
.${r} .${x}bg-x3 { background-size: 30%; }
.${r} .${x}bg-x4 { background-size: 40%; }
.${r} .${x}bg-x5 { background-size: 50%; }
.${r} .${x}bg-x6 { background-size: 60%; }
.${r} .${x}bg-x7 { background-size: 70%; }
.${r} .${x}bg-x8 { background-size: 80%; }
.${r} .${x}bg-x9 { background-size: 90%; }
.${r} .${x}bg-x10{ background-size: 100%; }

/*BG Repeat*/
.${r} .${x}bg-rp { background-repeat: repeat; }
.${r} .${x}bg-rp-no { background-repeat: no-repeat; }


