@charset 'utf-8';

/*Blur*/
.blur,
.blur-x1 { filter: blur(1px); }
.blur-x2 { filter: blur(2px); }
.blur-x3 { filter: blur(3px); }
.blur-x4 { filter: blur(4px); }
.blur-x5 { filter: blur(5px); }
.blur-x6 { filter: blur(6px); }
.blur-x7 { filter: blur(7px); }
.blur-x0,
.blur-no { filter: blur(0); }
