/*Color*/
.${r} .${x}tx-c0 { color: #000; }
.${r} .${x}bd-c0 { border-color: #000; }
.${r} .${x}bg-c0 { background-color: #000; }

.${r} .${x}tx-c1 { color: #FFF; }
.${r} .${x}bd-c1 { border-color: #FFF; }
.${r} .${x}bg-c1 { background-color: #FFF; }

.${r} .${x}tx-c2 { color: red; }
.${r} .${x}bd-c2 { border-color: red; }
.${r} .${x}bg-c2 { background-color: red; }

.${r} .${x}tx-c3 { color: green; }
.${r} .${x}bd-c3 { border-color: green; }
.${r} .${x}bg-c3 { background-color: green; }
