/*Cursor*/
.${r} .${x}cur-pnt { cursor: pointer; }
.${r} .${x}cur-grb { cursor: grab; }
.${r} .${x}cur-gbg { cursor: grabbing; }
.${r} .${x}cur-crs { cursor: crosshair; }
.${r} .${x}cur-mov { cursor: move; }
.${r} .${x}cur-mnu { cursor: context-menu; }
.${r} .${x}cur-hlp { cursor: help; }
.${r} .${x}cur-prg { cursor: progress; }
.${r} .${x}cur-wai { cursor: wait; }
.${r} .${x}cur-txt { cursor: text; }
.${r} .${x}cur-scr { cursor: all-scroll; }
.${r} .${x}cur-cel { cursor: cell; }
.${r} .${x}cur-cpy { cursor: copy; }
.${r} .${x}cur-dft { cursor: default; }
.${r} .${x}cur-zmi { cursor: zoom-in; }
.${r} .${x}cur-zmo { cursor: zoom-out; }
.${r} .${x}cur-rsz-n { cursor: n-resize; }
.${r} .${x}cur-rsz-ne { cursor: ne-resize; }
.${r} .${x}cur-rsz-e { cursor: e-resize; }
.${r} .${x}cur-rsz-se { cursor: se-resize; }
.${r} .${x}cur-rsz-s { cursor: s-resize; }
.${r} .${x}cur-rsz-sw { cursor: sw-resize; }
.${r} .${x}cur-rsz-w { cursor: w-resize; }
.${r} .${x}cur-rsz-nw{ cursor: nw-resize; }
.${r} .${x}cur-rsz-ns { cursor: ns-resize; }
.${r} .${x}cur-rsz-ew { cursor: ew-resize; }
.${r} .${x}cur-rsz-nesw { cursor: nesw-resize; }
.${r} .${x}cur-rsz-nwse { cursor: nwse-resize; }
.${r} .${x}cur-rsz-col { cursor: col-resize; }
.${r} .${x}cur-rsz-row { cursor: row-resize; }
.${r} .${x}cur-drp-no { cursor: no-drop; }
.${r} .${x}cur-alw-no { cursor: not-allowed; }
.${r} .${x}cur-no { cursor: none; }
