/*Ease*/
.${r} .${x}ease {
    transition-property: all;
    transition-duration: calc(1s/2);
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.${r} .${x}ease-out {
    transition-property: all;
    transition-duration: calc(1s/2);
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

.${r} .${x}ease-out-back {
    transition-property: all;
    transition-duration: calc(1s/2);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.${r} .${x}spd-x1,
.${r} .${x}slow {
    transition-duration: calc(1s/1);
    animation-duration: calc(1s/1);
}
.${r} .${x}spd-x2 {
    transition-duration: calc(1s/2);
    animation-duration: calc(1s/2);
}
.${r} .${x}spd-x3,
.${r} .${x}fast {
    transition-duration: calc(1s/3);
    animation-duration: calc(1s/3);
}
.${r} .${x}spd-x4 {
    transition-duration: calc(1s/4);
    animation-duration: calc(1s/4);
}
.${r} .${x}spd-x5,
.${r} .${x}faster {
    transition-duration: calc(1s/5);
    animation-duration: calc(1s/5);
}
.${r} .${x}spd-x6 {
    transition-duration: calc(1s/6);
    animation-duration: calc(1s/6);
}
.${r} .${x}spd-x0,
.${r} .${x}spd-no,
.${r} .${x}instant {
    transition-duration: 0s;
    animation-duration: 0s;
}

.${r} .${x}loop {
    animation-iteration-count: infinite;
}
