/*Grow*/
.${r} .${x}grow,
.${r} .${x}grow-x1 { transform: scale(1.1); }
.${r} .${x}grow-x2 { transform: scale(1.2); }
.${r} .${x}grow-x3 { transform: scale(1.3); }
.${r} .${x}grow-x4 { transform: scale(1.4); }
.${r} .${x}grow-x5 { transform: scale(1.5); }
.${r} .${x}grow-x6 { transform: scale(1.6); }
.${r} .${x}grow-x7 { transform: scale(1.7); }
.${r} .${x}grow-x8 { transform: scale(1.8); }
.${r} .${x}grow-x9 { transform: scale(1.9); }
.${r} .${x}grow-x10 { transform: scale(2); }
.${r} .${x}grow-x0,
.${r} .${x}grow-no { transform: scale(1); }
