/*Hue*/
.${r} .${x}hue,
.${r} .${x}hue-x1 { filter: hue-rotate(calc(45deg*1)); }
.${r} .${x}hue-x2 { filter: hue-rotate(calc(45deg*2)); }
.${r} .${x}hue-x3 { filter: hue-rotate(calc(45deg*3)); }
.${r} .${x}hue-x4 { filter: hue-rotate(calc(45deg*4)); }
.${r} .${x}hue-x5 { filter: hue-rotate(calc(45deg*5)); }
.${r} .${x}hue-x6 { filter: hue-rotate(calc(45deg*6)); }
.${r} .${x}hue-x7 { filter: hue-rotate(calc(45deg*7)); }
.${r} .${x}hue-x0,
.${r} .${x}hue-no { filter: hue-rotate(calc(45deg*0)); }
