/*Overflow*/
.${r} .${x}oflow { overflow: hidden; }
.${r} .${x}oflow-x { overflow-x: hidden; }
.${r} .${x}oflow-y { overflow-y: hidden; }
.${r} .${x}scroll { overflow: auto; }
.${r} .${x}scroll-x { overflow-x: auto; }
.${r} .${x}scroll-y { overflow-y: auto; }
.${r} .${x}swipe {
    overflow: auto;
    scrollbar-width: none;
}
.${r} .${x}swipe::-webkit-scrollbar { display: none; }

.${r} .${x}ellip {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
