/*Padding*/
.${r} .${x}pad-x1 { padding: calc(0.25em*1); }
.${r} .${x}pad,
.${r} .${x}pad-x2 { padding: calc(0.25em*2); }
.${r} .${x}pad-x3 { padding: calc(0.25em*3); }
.${r} .${x}pad-x4 { padding: calc(0.25em*4); }
.${r} .${x}pad-x5 { padding: calc(0.25em*5); }
.${r} .${x}pad-x0,
.${r} .${x}pad-no { padding: 0; }

.${r} .${x}pad-t-x1 { padding-top: calc(0.25em*1); }
.${r} .${x}pad-t,
.${r} .${x}pad-t-x2 { padding-top: calc(0.25em*2); }
.${r} .${x}pad-t-x3 { padding-top: calc(0.25em*3); }
.${r} .${x}pad-t-x4 { padding-top: calc(0.25em*4); }
.${r} .${x}pad-t-x5 { padding-top: calc(0.25em*5); }
.${r} .${x}pad-t-x0,
.${r} .${x}pad-t-no { padding-top: 0; }

.${r} .${x}pad-r-x1 { padding-right: calc(0.25em*1); }
.${r} .${x}pad-r,
.${r} .${x}pad-r-x2 { padding-right: calc(0.25em*2); }
.${r} .${x}pad-r-x3 { padding-right: calc(0.25em*3); }
.${r} .${x}pad-r-x4 { padding-right: calc(0.25em*4); }
.${r} .${x}pad-r-x5 { padding-right: calc(0.25em*5); }
.${r} .${x}pad-r-x0,
.${r} .${x}pad-r-no { padding-right: 0; }

.${r} .${x}pad-b-x1 { padding-bottom: calc(0.25em*1); }
.${r} .${x}pad-b,
.${r} .${x}pad-b-x2 { padding-bottom: calc(0.25em*2); }
.${r} .${x}pad-b-x3 { padding-bottom: calc(0.25em*3); }
.${r} .${x}pad-b-x4 { padding-bottom: calc(0.25em*4); }
.${r} .${x}pad-b-x5 { padding-bottom: calc(0.25em*5); }
.${r} .${x}pad-b-x0,
.${r} .${x}pad-b-no { padding-bottom: 0; }

.${r} .${x}pad-l-x1 { padding-left: calc(0.25em*1); }
.${r} .${x}pad-l,
.${r} .${x}pad-l-x2 { padding-left: calc(0.25em*2); }
.${r} .${x}pad-l-x3 { padding-left: calc(0.25em*3); }
.${r} .${x}pad-l-x4 { padding-left: calc(0.25em*4); }
.${r} .${x}pad-l-x5 { padding-left: calc(0.25em*5); }
.${r} .${x}pad-l-x0,
.${r} .${x}pad-l-no { padding-left: 0; }
