/*Rotate*/
.${r} .${x}rot-x0 { transform: rotate(0); }
.${r} .${x}rot-x1 { transform: rotate(45); }
.${r} .${x}rot-x2 { transform: rotate(90); }
.${r} .${x}rot-x3 { transform: rotate(135); }
.${r} .${x}rot-x4 { transform: rotate(180); }
.${r} .${x}rot-x5 { transform: rotate(225); }
.${r} .${x}rot-x6 { transform: rotate(270); }
.${r} .${x}rot-x7 { transform: rotate(315); }
.${r} .${x}rot-x8 { transform: rotate(360); }
