/*Spin*/
.spin {
    display: inline-block;
    transform-origin: center center;
    animation: spin 1s 1 linear;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
