@charset 'utf-8';

/*Spin*/
.spin {
    display: inline-block;
    transform-origin: center center;
    animation: spin 1s 1 linear;
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
