/*Text size*/
.${r} .${x}tx-x1 { font-size: 0.4em; }
.${r} .${x}tx-x2,.xs { font-size: 0.6em; }
.${r} .${x}tx-x3,.sm { font-size: 0.8em; }
.${r} .${x}tx-x4,.h6 { font-size: 1em; }
.${r} .${x}tx-x5,.h5 { font-size: 1.2em; }
.${r} .${x}tx-x6,.h4 { font-size: 1.4em; }
.${r} .${x}tx-x7,.h3 { font-size: 1.6em; }
.${r} .${x}tx-x8,.h2 { font-size: 1.8em; }
.${r} .${x}tx-x9,.h1 { font-size: 2em; }
.${r} .${x}tx-x10,.lg { font-size: 2.2em; }
.${r} .${x}tx-x11,.xl { font-size: 2.4em; }
.${r} .${x}tx-x12 { font-size: 2.6em; }
.${r} .${x}tx-x0,
.${r} .${x}tx-no { font-size: 0; }

/*Text style*/
.${r} .${x}bold { font-weight: bold; }
.${r} .${x}thin { font-weight: thin; }
.${r} .${x}italic { font-style: italic; }
.${r} .${x}upper { text-transform: uppercase; }
.${r} .${x}lower { text-transform: lowercase; }
.${r} .${x}under { text-transform: underline; }
