/*General components*/
.${r} .${x}${s}pnl,
.${r} .${x}${s}lbl,
.${r} .${x}${s}bdg,
.${r} .${x}${s}tag,
.${r} .${x}${s}ipt,
.${r} .${x}${s}btn {
    color: ${clr.txt};
    display: inline-block;
    -webkit-border-radius: ${rad}px;
    border-radius: ${rad}px;
    border-color: ${clr.bdc};
    background-color: ${clr.pnl};
}

/*Panel styles*/
<? for (var i in clr) {
var txtc = 'wht'; ?>
.${r} .${x}${s}pnl-${i} {
    color: ${clr[txtc]};
    background-color: ${clr[i]};
    border-color: ${clr[i]};
}<? } ?>

// Labels and buttons
.${r} .${x}${s}lbl,
.${r} .${x}${s}btn {
    margin: 0;
    padding: 0.25em 1em;
    display: inline-block;
    font-size: 1em;
    line-height: 1.5;
    font-weight: inherit;
    font-family: inherit;
    color: ${clr.wht};
    background-color: ${clr.bdc};
    border-color: ${clr.bdc};
    white-space: nowrap;
}

/*Label styles*/
<? for (var i in clr) {
var txtc = 'wht'; ?>
.${r} .${x}${s}lbl-${i} {
    color: ${clr[txtc]};
    background-color: ${clr[i]};
    border-color: ${clr[i]};
}<? } ?>

/*Badge styles*/
.${r} .${x}${s}bdg {
    line-height: 0em;
    font-size: 0.5em;
    padding: 0.6em 0.35em;
    -webkit-border-radius: 9999999px;
    border-radius: 9999999px;
}
<? for (var i in clr) {
var txtc = 'wht'; ?>
.${r} .${x}${s}bdg-${i} {
    color: ${clr[txtc]};
    background-color: ${clr[i]};
    border-color: ${clr[i]};
}<? } ?>

/*Tag styles*/
.${r} .${x}${s}tag {
    padding: 0.2em 0.5em;
    font-size: 0.7em;
}
<? for (var i in clr) {
var txtc = 'wht'; ?>
.${r} .${x}${s}tag-${i} {
    color: ${clr[txtc]};
    background-color: ${clr[i]};
    border-color: ${clr[i]};
}<? } ?>

/*Button styles*/
.${r} .${x}${s}btn {
    cursor: pointer;
    vertical-align: middle;
}
.${r} .${x}${s}btn:hover,
.${r} .${x}${s}btn.act {
    background-color: ${cssDarken(clr.prm, drk)};
    border-color: ${cssDarken(clr.prm, drk)};
}
<? for (var i in clr) {
var txtc = 'wht'; ?>
.${r} .${x}${s}btn-${i} {
    color: ${clr[txtc]};
    background-color: ${clr[i]};
    border-color: ${clr[i]};
}
.${r} .${x}${s}btn-${i}:hover,
.${r} .${x}${s}btn-${i}.act {
    background-color: ${cssDarken(clr[i], drk)};
    border-color: ${cssDarken(clr[i], drk)};
}<? } ?>

/*Input styles*/
.${r} .${x}${s}ipt {
    width: 100%;
    color: inherit;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.25em 0.5em;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    background-color: transparent;
}
.${r} select.${x}${s}ipt {
    padding-right: 2em;
}
.${r} ${x}${s}ipt[type="search"] {
    padding-right: 2em;
}
.${r} .${x}${s}ipt[type="checkbox"],
.${r} .${x}${s}ipt[type="radio"] {
    width:0em;
    height:0em;
    padding:0.5em;
}
.${r} .${x}${s}ipt:focus {
    border-color: ${cssDarken(clr.bdc, drk)};
}
<? for (var i in clr) {
var txtc = 'txt'; ?>
.${r} .${x}${s}ipt-${i} {
    color: ${clr[txtc]};
    border-color: ${clr[i]};
}
.${r} .${x}${s}ipt-${i}:focus {
    border-color: ${cssDarken(clr[i], drk)};
}<? } ?>

/*Profile picture*/
.${r} .${x}${s}pic {
    padding: 1em;
    display: inline-block;
    vertical-align: middle;
    border-radius: 999999px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
