<?setBPX(false, function(b){
return ?>
    
    /*Border*/
    .${r} .${x}${s}${b}bd { border-width: 1px; border-style: solid; }
    .${r} .${x}${s}${b}bd-sm { border-width: 1px; border-style: solid; }
    .${r} .${x}${s}${b}bd-md { border-width: 0.25em; border-style: solid; }
    .${r} .${x}${s}${b}bd-lg { border-width: 0.5em; border-style: solid; }
    .${r} .${x}${s}${b}bd-no { border: 0; }

    .${r} .${x}${s}${b}bd-x { border-left-width: 1px; border-right-width: 1px; border-left-style: solid; border-right-style: solid; }
    .${r} .${x}${s}${b}bd-x-sm { border-left-width: 1px; border-right-width: 1px; border-left-style: solid; border-right-style: solid; }
    .${r} .${x}${s}${b}bd-x-md { border-left-width: 0.25em; border-right-width: 0.25em; border-left-style: solid; border-right-style: solid; }
    .${r} .${x}${s}${b}bd-x-lg { border-left-width: 0.5em; border-right-width: 0.5em; border-left-style: solid; border-right-style: solid; }
    .${r} .${x}${s}${b}bd-x-no { border-left-width: 0; border-right-width: 0; }

    .${r} .${x}${s}${b}bd-y { border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; }
    .${r} .${x}${s}${b}bd-y-sm { border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; }
    .${r} .${x}${s}${b}bd-y-md { border-top-width: 0.25em; border-bottom-width: 0.25em; border-top-style: solid; border-bottom-style: solid; }
    .${r} .${x}${s}${b}bd-y-lg { border-top-width: 0.5em; border-bottom-width: 0.5em; border-top-style: solid; border-bottom-style: solid; }
    .${r} .${x}${s}${b}bd-y-no { border-top-width: 0; border-bottom-width: 0; }
    
    .${r} .${x}${s}${b}bd-t { border-top-width: 1px; border-top-style: solid; }
    .${r} .${x}${s}${b}bd-t-sm { border-top-width: 1px; border-top-style: solid; }
    .${r} .${x}${s}${b}bd-t-md { border-top-width: 0.25em; border-top-style: solid; }
    .${r} .${x}${s}${b}bd-t-lg { border-top-width: 0.5em; border-top-style: solid; }
    .${r} .${x}${s}${b}bd-t-no { border-top-width: 0; }
    
    .${r} .${x}${s}${b}bd-r { border-right-width: 1px; border-right-style: solid; }
    .${r} .${x}${s}${b}bd-r-sm { border-right-width: 1px; border-right-style: solid; }
    .${r} .${x}${s}${b}bd-r-md { border-right-width: 0.25em; border-right-style: solid; }
    .${r} .${x}${s}${b}bd-r-lg { border-right-width: 0.5em; border-right-style: solid; }
    .${r} .${x}${s}${b}bd-r-no { border-right-width: 0; }
    
    .${r} .${x}${s}${b}bd-b { border-bottom-width: 1px; border-bottom-style: solid; }
    .${r} .${x}${s}${b}bd-b-sm { border-bottom-width: 1px; border-bottom-style: solid; }
    .${r} .${x}${s}${b}bd-b-md { border-bottom-width: 0.25em; border-bottom-style: solid; }
    .${r} .${x}${s}${b}bd-b-lg { border-bottom-width: 0.5em; border-bottom-style: solid; }
    .${r} .${x}${s}${b}bd-b-no { border-bottom-width: 0; }
    
    .${r} .${x}${s}${b}bd-l { border-left-width: 1px; border-left-style: solid; }
    .${r} .${x}${s}${b}bd-l-sm { border-left-width: 1px; border-left-style: solid; }
    .${r} .${x}${s}${b}bd-l-md { border-left-width: 0.25em; border-left-style: solid; }
    .${r} .${x}${s}${b}bd-l-lg { border-left-width: 0.5em; border-left-style: solid; }
    .${r} .${x}${s}${b}bd-l-no { border-left-width: 0; }
    
    .${r} .${x}${s}${b}dotted { border-style: dotted; }
    .${r} .${x}${s}${b}dashed { border-style: dashed; }

<?});?>