/*Color classes from global color definitions*/
<?
for (var i in clr) {
?>${setCSSColors('fc', i, 'color', clr[i], drk)}<?
?>${setCSSColors('bd', i, 'border-color', clr[i], drk)}<?
?>${setCSSColors('bg', i, 'background-color', clr[i], drk)}<?
}?>

/*Opaque bg*/
.${r} .${x}${s}${b}bg-opq,
.${r} .${x}${s}${b}bg-opq-hvr:hover,
.${r} .${x}${s}${b}bg-opq-fcs:focus,
.${r} .${x}${s}${b}bg-opq-dsb[disabled],
.${r} .${x}${s}${b}bg-opq-rdo[readonly],
.${r} .${x}${s}${b}bg-opq-act.act {
    background-color: rgba(0, 0, 0, 0.2);
}
.${r} .${x}${s}${b}bg-opq-lgt,
.${r} .${x}${s}${b}bg-opq-lgt-hvr:hover,
.${r} .${x}${s}${b}bg-opq-lgt-fcs:focus,
.${r} .${x}${s}${b}bg-opq-lgt-dsb[disabled],
.${r} .${x}${s}${b}bg-opq-lgt-rdo[readonly],
.${r} .${x}${s}${b}bg-opq-lgt-act.act {
    background-color: rgba(0, 0, 0, 0.02);
}
.${r} .${x}${s}${b}bg-opq-inv,
.${r} .${x}${s}${b}bg-opq-inv-hvr:hover,
.${r} .${x}${s}${b}bg-opq-inv-fcs:focus,
.${r} .${x}${s}${b}bg-opq-inv-dsb[disabled],
.${r} .${x}${s}${b}bg-opq-inv-rdo[readonly],
.${r} .${x}${s}${b}bg-opq-inv-act.act {
    background-color: rgba(255, 255, 255, 0.2);
}
