<?setBPX(true, function(b){
return ?>

    .${r} .${x}${s}${b}mar     { margin: 0.5em;  }
    .${r} .${x}${s}${b}mar-lg  { margin: 1em;    }
    .${r} .${x}${s}${b}mar-md  { margin: 0.75em; }
    .${r} .${x}${s}${b}mar-sm  { margin: 0.25em; }
    .${r} .${x}${s}${b}mar-no  { margin: 0em;    }

    .${r} .${x}${s}${b}mar-x     { margin-left: 0.5em; margin-right: 0.5em;   }
    .${r} .${x}${s}${b}mar-x-lg  { margin-left: 1em; margin-right: 1em;       }
    .${r} .${x}${s}${b}mar-x-md  { margin-left: 0.75em; margin-right: 0.75em; }
    .${r} .${x}${s}${b}mar-x-sm  { margin-left: 0.25em; margin-right: 0.25em; }
    .${r} .${x}${s}${b}mar-x-no  { margin-left: 0em; margin-right: 0em;       }

    .${r} .${x}${s}${b}mar-y     { margin-top: 0.5em; margin-bottom: 0.5em;   }
    .${r} .${x}${s}${b}mar-y-lg  { margin-top: 1em; margin-bottom: 1em;       }
    .${r} .${x}${s}${b}mar-y-md  { margin-top: 0.75em; margin-bottom: 0.75em; }
    .${r} .${x}${s}${b}mar-y-sm  { margin-top: 0.25em; margin-bottom: 0.25em; }
    .${r} .${x}${s}${b}mar-y-no  { margin-top: 0em; margin-bottom: 0em;       }

    .${r} .${x}${s}${b}mar-t     { margin-top: 0.5em;  }
    .${r} .${x}${s}${b}mar-t-lg  { margin-top: 1em;    }
    .${r} .${x}${s}${b}mar-t-md  { margin-top: 0.75em; }
    .${r} .${x}${s}${b}mar-t-sm  { margin-top: 0.25em; }
    .${r} .${x}${s}${b}mar-t-no  { margin-top: 0em;    }

    .${r} .${x}${s}${b}mar-r     { margin-right: 0.5em;  }
    .${r} .${x}${s}${b}mar-r-lg  { margin-right: 1em;    }
    .${r} .${x}${s}${b}mar-r-md  { margin-right: 0.75em; }
    .${r} .${x}${s}${b}mar-r-sm  { margin-right: 0.25em; }
    .${r} .${x}${s}${b}mar-r-no  { margin-right: 0em;    }

    .${r} .${x}${s}${b}mar-b     { margin-bottom: 0.5em;  }
    .${r} .${x}${s}${b}mar-b-lg  { margin-bottom: 1em;    }
    .${r} .${x}${s}${b}mar-b-md  { margin-bottom: 0.75em; }
    .${r} .${x}${s}${b}mar-b-sm  { margin-bottom: 0.25em; }
    .${r} .${x}${s}${b}mar-b-no  { margin-bottom: 0em;    }

    .${r} .${x}${s}${b}mar-l     { margin-left: 0.5em;  }
    .${r} .${x}${s}${b}mar-l-lg  { margin-left: 1em;    }
    .${r} .${x}${s}${b}mar-l-md  { margin-left: 0.75em; }
    .${r} .${x}${s}${b}mar-l-sm  { margin-left: 0.25em; }
    .${r} .${x}${s}${b}mar-l-no  { margin-left: 0em;    }

<?});?>