<?setBPX(true, function(b){
return ?>

    /*Radius*/
    .${r} .${x}${s}${b}circ {
        -webkit-border-radius: 99999999px;
        border-radius: 99999999px;
    }
    .${r} .${x}${s}${b}rad {
        -webkit-border-radius: ${rad}px;
        border-radius: ${rad}px;
    }
    .${r} .${x}${s}${b}rad-no {
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    
    .${r} .${x}${s}${b}rad-t {
        -webkit-border-top-left-radius: ${rad}px;
        border-top-left-radius: ${rad}px;
        -webkit-border-top-right-radius: ${rad}px;
        border-top-right-radius: ${rad}px;
    }
    .${r} .${x}${s}${b}rad-r {
        -webkit-border-top-right-radius: ${rad}px;
        border-top-right-radius: ${rad}px;
        -webkit-border-bottom-right-radius: ${rad}px;
        border-bottom-right-radius: ${rad}px;
    }
    .${r} .${x}${s}${b}rad-b {
        -webkit-border-bottom-left-radius: ${rad}px;
        border-bottom-left-radius: ${rad}px;
        -webkit-border-bottom-right-radius: ${rad}px;
        border-bottom-right-radius: ${rad}px;
    }
    .${r} .${x}${s}${b}rad-l {
        -webkit-border-top-left-radius: ${rad}px;
        border-top-left-radius: ${rad}px;
        -webkit-border-bottom-left-radius: ${rad}px;
        border-bottom-left-radius: ${rad}px;
    }
    
    .${r} .${x}${s}${b}rad-t-no {
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
    }
    .${r} .${x}${s}${b}rad-r-no {
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .${r} .${x}${s}${b}rad-b-no {
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .${r} .${x}${s}${b}rad-l-no {
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .${r} .${x}${s}${b}rad-tl {
        -webkit-border-top-left-radius: ${rad}px;
        border-top-left-radius: ${rad}px;
    }
    .${r} .${x}${s}${b}rad-bl {
        -webkit-border-bottom-left-radius: ${rad}px;
        border-bottom-left-radius: ${rad}px;
    }
    .${r} .${x}${s}${b}rad-tr {
        -webkit-border-top-right-radius: ${rad}px;
        border-top-right-radius: ${rad}px;
    }
    .${r} .${x}${s}${b}rad-br {
        -webkit-border-bottom-right-radius: ${rad}px;
        border-bottom-right-radius: ${rad}px;
    }
    
    .${r} .${x}${s}${b}rad-tl-no {
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
    }
    .${r} .${x}${s}${b}rad-bl-no {
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .${r} .${x}${s}${b}rad-tr-no {
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
    }
    .${r} .${x}${s}${b}rad-br-no {
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }

<?});?>
