<?O?>
/*Page*/
.${x}-ui-panel .${x}-page-matching {
    ${alignC()}
    ${outNo()}
    ${opc(0)}
    ${shrink(100)}
    ${faster()}
    ${bgImg(IMGDIR+'pat.png', 'bg0')}
    ${repeat()}
}
.${x}-ui-panel .${x}-page-matching.${x}-act {
    ${opc(100)}
    ${shrink(0)}
}

.${x}-page-matching .${x}-box {
    ${bgImg(IMGDIR+'vs-lines.png')}
    ${cover()}
}

.${x}-page-matching .${x}-vs1 {
    ${ease()}
    ${fast()}
    ${midFlex()}
}
.${x}-page-matching .${x}-pl1 {
    ${ease()}
    ${fast()}
    top: 15%;
}
.${x}-page-matching .${x}-pl1.${x}-act {
    top: 0;
}
.${x}-page-matching .${x}-vs2 {
    ${ease()}
    ${fast()}
    ${midFlex()}
}
.${x}-page-matching .${x}-pl2 {
    ${ease()}
    ${fast()}
    top: -30%;
}
.${x}-page-matching .${x}-pl2.${x}-act {
    top: 0;
}

.${x}-page-matching .${x}-pl-pic-1 {
    ${opc(0)}
    ${outL()}
}
.${x}-page-matching .${x}-pl-pic-1.${x}-act {
    ${opc(100)}
    ${outNo()}
}
.${x}-page-matching .${x}-pl-pic-2 {
    ${opc(0)}
    ${outR()}
}
.${x}-page-matching .${x}-pl-pic-2.${x}-act {
    ${opc(100)}
    ${outNo()}
}
