<?
/*Functions*/
function cbox(){ R?>
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
<?}
function bbox(){ R?>
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
<?}

/*Export classes to CSS*/
function useClassCbox() { O?>
    .${x} .${x}-cbox { ${cbox()} }
    .${x} .${x}-bbox { ${bbox()} }
<?}?>
