<?
/*Functions*/
function cols(){ R?>
    display: table;
    width: 100%;
<?}
function col(){ R?>
    width: auto;
    float: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
<?}
function sameW(){ R?>table-layout: fixed;<?}
function colW(v){ R?>width: ${((100/12)*v)}%<?}
function colMin(v){ R?>min-width: ${((100/12)*v)}%<?}
function colMax(v){ R?>max-width: ${((100/12)*v)}%<?}

/*Export classes to CSS*/
function useClassColumn() {O?>
    
    .${x} .${x}-same-w { ${sameW()} }
    .${x} .${x}-cols { ${cols()} }
    .${x} .${x}-col,
    .${x} .${x}-cols > * { ${col()} }
    .${x} .${x}-strp > :nth-of-type(2n) {
        background-color: rgba(0,0,0,0.2);
    }
    
    <?for (var i = 0; i <= 12; i++) {O?>
        .${x} .${x}-col${i} { ${colW(i)} }
        .${x} .${x}-col-min${i} { ${colMin(i)} }
        .${x} .${x}-col-min${i} { ${colMax(i)} }
    <?}
}?>
