<?
/*Functions*/
function grow(v){
    !isdef(v)?v=100:'';
    v = (100 + v) / 100; R?>
    -webkit-transform: scale(${v});
    -ms-transform: scale(${v});
    transform: scale(${v});
<?}

/*Export classes to CSS*/
function useClassGrow() { O?>
    .${x} .${x}-grow10 { ${grow(10)} }
    .${x} .${x}-grow20 { ${grow(20)} }
    .${x} .${x}-grow30 { ${grow(30)} }
    .${x} .${x}-grow40 { ${grow(40)} }
    .${x} .${x}-grow50 { ${grow(50)} }
    .${x} .${x}-grow60 { ${grow(60)} }
    .${x} .${x}-grow70 { ${grow(70)} }
    .${x} .${x}-grow80 { ${grow(80)} }
    .${x} .${x}-grow90 { ${grow(90)} }
    .${x} .${x}-grow100 { ${grow(100)} }
    .${x} .${x}-grow0 { ${grow(0)} }
<?}?>
