<?
var MARXS = 0.5;
var MARSM = 1;
var MARMD = 2;
var MARLG = 3;
var MARXL = 4;

/*Functions*/
function mar(v){
    !isdef(v)?v=MARSM:'';
    v == 'xs'?v=MARXS:'';
    v == 'sm'?v=MARSM:'';
    v == 'md'?v=MARMD:'';
    v == 'lg'?v=MARLG:'';
    v == 'xl'?v=MARXL:'';R?>
    margin: ${cfg.pad*v}em;
<?}
function marX(v){
    !isdef(v)?v=MARSM:'';
    v == 'xs'?v=MARXS:'';
    v == 'sm'?v=MARSM:'';
    v == 'md'?v=MARMD:'';
    v == 'lg'?v=MARLG:'';
    v == 'xl'?v=MARXL:'';R?>
    margin-left: ${cfg.pad*v}em;
    margin-right: ${cfg.pad*v}em;
<?}
function marY(v){
    !isdef(v)?v=MARSM:'';
    v == 'xs'?v=MARXS:'';
    v == 'sm'?v=MARSM:'';
    v == 'md'?v=MARMD:'';
    v == 'lg'?v=MARLG:'';
    v == 'xl'?v=MARXL:'';R?>
    margin-top: ${cfg.pad*v}em;
    margin-bottom: ${cfg.pad*v}em;
<?}
function marT(v){
    !isdef(v)?v=MARSM:'';
    v == 'xs'?v=MARXS:'';
    v == 'sm'?v=MARSM:'';
    v == 'md'?v=MARMD:'';
    v == 'lg'?v=MARLG:'';
    v == 'xl'?v=MARXL:'';R?>
    margin-top: ${cfg.pad*v}em;
<?}
function marR(v){
    !isdef(v)?v=MARSM:'';
    v == 'xs'?v=MARXS:'';
    v == 'sm'?v=MARSM:'';
    v == 'md'?v=MARMD:'';
    v == 'lg'?v=MARLG:'';
    v == 'xl'?v=MARXL:'';R?>
    margin-right: ${cfg.pad*v}em;
<?}
function marB(v){
    !isdef(v)?v=MARSM:'';
    v == 'xs'?v=MARXS:'';
    v == 'sm'?v=MARSM:'';
    v == 'md'?v=MARMD:'';
    v == 'lg'?v=MARLG:'';
    v == 'xl'?v=MARXL:'';R?>
    margin-bottom: ${cfg.pad*v}em;
<?}
function marL(v){
    !isdef(v)?v=MARSM:'';
    v == 'xs'?v=MARXS:'';
    v == 'sm'?v=MARSM:'';
    v == 'md'?v=MARMD:'';
    v == 'lg'?v=MARLG:'';
    v == 'xl'?v=MARXL:'';R?>
    margin-left: ${cfg.pad*v}em;
<?}

/*Export classes to CSS*/
function useClassMargin() { O?>
    
    .${x} .${x}-mar { ${mar('sm')} }
    .${x} .${x}-mar-xs { ${mar('xs')} }
    .${x} .${x}-mar-sm { ${mar('sm')} }
    .${x} .${x}-mar-md { ${mar('md')} }
    .${x} .${x}-mar-lg { ${mar('lg')} }
    .${x} .${x}-mar-xl { ${mar('xl')} }
    .${x} .${x}-mar-no { ${mar(0)} }
    
    .${x} .${x}-mar-x { ${marX('sm')} }
    .${x} .${x}-mar-x-xs { ${marX('xs')} }
    .${x} .${x}-mar-x-sm { ${marX('sm')} }
    .${x} .${x}-mar-x-md { ${marX('md')} }
    .${x} .${x}-mar-x-lg { ${marX('lg')} }
    .${x} .${x}-mar-x-xl { ${marX('xl')} }
    .${x} .${x}-mar-x-no { ${marX(0)} }
    
    .${x} .${x}-mar-y { ${marY('sm')} }
    .${x} .${x}-mar-y-xs { ${marY('xs')} }
    .${x} .${x}-mar-y-sm { ${marY('sm')} }
    .${x} .${x}-mar-y-md { ${marY('md')} }
    .${x} .${x}-mar-y-lg { ${marY('lg')} }
    .${x} .${x}-mar-y-xl { ${marY('xl')} }
    .${x} .${x}-mar-y-no { ${marY(0)} }
    
    .${x} .${x}-mar-t { ${marT('sm')} }
    .${x} .${x}-mar-t-xs { ${marT('xs')} }
    .${x} .${x}-mar-t-sm { ${marT('sm')} }
    .${x} .${x}-mar-t-md { ${marT('md')} }
    .${x} .${x}-mar-t-lg { ${marT('lg')} }
    .${x} .${x}-mar-t-xl { ${marT('xl')} }
    .${x} .${x}-mar-t-no { ${marT(0)} }
    
    .${x} .${x}-mar-r { ${marR('sm')} }
    .${x} .${x}-mar-r-xs { ${marR('xs')} }
    .${x} .${x}-mar-r-sm { ${marR('sm')} }
    .${x} .${x}-mar-r-md { ${marR('md')} }
    .${x} .${x}-mar-r-lg { ${marR('lg')} }
    .${x} .${x}-mar-r-xl { ${marR('xl')} }
    .${x} .${x}-mar-r-no { ${marR(0)} }
    
    .${x} .${x}-mar-b { ${marB('sm')} }
    .${x} .${x}-mar-b-xs { ${marB('xs')} }
    .${x} .${x}-mar-b-sm { ${marB('sm')} }
    .${x} .${x}-mar-b-md { ${marB('md')} }
    .${x} .${x}-mar-b-lg { ${marB('lg')} }
    .${x} .${x}-mar-b-xl { ${marB('xl')} }
    .${x} .${x}-mar-b-no { ${marB(0)} }
    
    .${x} .${x}-mar-l { ${marL('sm')} }
    .${x} .${x}-mar-l-xs { ${marL('xs')} }
    .${x} .${x}-mar-l-sm { ${marL('sm')} }
    .${x} .${x}-mar-l-md { ${marL('md')} }
    .${x} .${x}-mar-l-lg { ${marL('lg')} }
    .${x} .${x}-mar-l-xl { ${marL('xl')} }
    .${x} .${x}-mar-l-no { ${marL(0)} }
    
<?}?>
