<?
var PADXS = 0.5;
var PADSM = 1;
var PADMD = 2;
var PADLG = 3;
var PADXL = 4;

/*Functions*/
function pad(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding: ${cfg.pad*v}em;
<?}
function padX(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-left: ${cfg.pad*v}em;
    padding-right: ${cfg.pad*v}em;
<?}
function padY(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-top: ${cfg.pad*v}em;
    padding-bottom: ${cfg.pad*v}em;
<?}
function padT(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-top: ${cfg.pad*v}em;
<?}
function padR(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-right: ${cfg.pad*v}em;
<?}
function padB(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-bottom: ${cfg.pad*v}em;
<?}
function padL(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-left: ${cfg.pad*v}em;
<?}

/*Export classes to CSS*/
function useClassPadding() { O?>
    
    .${x} .${x}-pad { ${pad('sm')} }
    .${x} .${x}-pad-xs { ${pad('xs')} }
    .${x} .${x}-pad-sm { ${pad('sm')} }
    .${x} .${x}-pad-md { ${pad('md')} }
    .${x} .${x}-pad-lg { ${pad('lg')} }
    .${x} .${x}-pad-xl { ${pad('xl')} }
    .${x} .${x}-pad-no { ${pad(0)} }
    
    .${x} .${x}-pad-x { ${padX('sm')} }
    .${x} .${x}-pad-x-xs { ${padX('xs')} }
    .${x} .${x}-pad-x-sm { ${padX('sm')} }
    .${x} .${x}-pad-x-md { ${padX('md')} }
    .${x} .${x}-pad-x-lg { ${padX('lg')} }
    .${x} .${x}-pad-x-xl { ${padX('xl')} }
    .${x} .${x}-pad-x-no { ${padX(0)} }
    
    .${x} .${x}-pad-y { ${padY('sm')} }
    .${x} .${x}-pad-y-xs { ${padY('xs')} }
    .${x} .${x}-pad-y-sm { ${padY('sm')} }
    .${x} .${x}-pad-y-md { ${padY('md')} }
    .${x} .${x}-pad-y-lg { ${padY('lg')} }
    .${x} .${x}-pad-y-xl { ${padY('xl')} }
    .${x} .${x}-pad-y-no { ${padY(0)} }
    
    .${x} .${x}-pad-t { ${padT('sm')} }
    .${x} .${x}-pad-t-xs { ${padT('xs')} }
    .${x} .${x}-pad-t-sm { ${padT('sm')} }
    .${x} .${x}-pad-t-md { ${padT('md')} }
    .${x} .${x}-pad-t-lg { ${padT('lg')} }
    .${x} .${x}-pad-t-xl { ${padT('xl')} }
    .${x} .${x}-pad-t-no { ${padT(0)} }
    
    .${x} .${x}-pad-r { ${padR('sm')} }
    .${x} .${x}-pad-r-xs { ${padR('xs')} }
    .${x} .${x}-pad-r-sm { ${padR('sm')} }
    .${x} .${x}-pad-r-md { ${padR('md')} }
    .${x} .${x}-pad-r-lg { ${padR('lg')} }
    .${x} .${x}-pad-r-xl { ${padR('xl')} }
    .${x} .${x}-pad-r-no { ${padR(0)} }
    
    .${x} .${x}-pad-b { ${padB('sm')} }
    .${x} .${x}-pad-b-xs { ${padB('xs')} }
    .${x} .${x}-pad-b-sm { ${padB('sm')} }
    .${x} .${x}-pad-b-md { ${padB('md')} }
    .${x} .${x}-pad-b-lg { ${padB('lg')} }
    .${x} .${x}-pad-b-xl { ${padB('xl')} }
    .${x} .${x}-pad-b-no { ${padB(0)} }
    
    .${x} .${x}-pad-l { ${padL('sm')} }
    .${x} .${x}-pad-l-xs { ${padL('xs')} }
    .${x} .${x}-pad-l-sm { ${padL('sm')} }
    .${x} .${x}-pad-l-md { ${padL('md')} }
    .${x} .${x}-pad-l-lg { ${padL('lg')} }
    .${x} .${x}-pad-l-xl { ${padL('xl')} }
    .${x} .${x}-pad-l-no { ${padL(0)} }
    
<?}?>
