<?
/*Functions*/
function radTL(v){
    !isdef(v)?v=cfg.rad+'px':''; R?>
    -webkit-border-top-left-radius: ${v};
    border-top-left-radius: ${v};
<?}
function radTR(v){
    !isdef(v)?v=cfg.rad+'px':''; R?>
    -webkit-border-top-right-radius: ${v};
    border-top-right-radius: ${v};
<?}
function radBL(v){
    !isdef(v)?v=cfg.rad+'px':''; R?>
    -webkit-border-bottom-left-radius: ${v};
    border-bottom-left-radius: ${v};
<?}
function radBR(v){
    !isdef(v)?v=cfg.rad+'px':''; R?>
    -webkit-border-bottom-right-radius: ${v};
    border-bottom-right-radius: ${v};
<?}
function radT(v){ return radTL(v)+radTR(v);}
function radR(v){ return radTR(v)+radBR(v);}
function radB(v){ return radBL(v)+radBR(v);}
function radL(v){ return radTL(v)+radBL(v);}
function rad(v) { return radT(v) + radB(v);}
function circ(){ return rad('50%');}

/*Export classes to CSS*/
function useClassRadius() { O?>
    
    .${x} .${x}-circ { ${circ()} }
    .${x} .${x}-rad { ${rad()} }
    .${x} .${x}-rad-no { ${rad(0)} }
    
    .${x} .${x}-rad-t { ${radT()} }
    .${x} .${x}-rad-r { ${radR()} }
    .${x} .${x}-rad-b { ${radB()} }
    .${x} .${x}-rad-l { ${radL()} }
    .${x} .${x}-rad-t-no { ${radT(0)} }
    .${x} .${x}-rad-r-no { ${radR(0)} }
    .${x} .${x}-rad-b-no { ${radB(0)} }
    .${x} .${x}-rad-l-no { ${radL(0)} }
    
    .${x} .${x}-rad-tl { ${radTL()} }
    .${x} .${x}-rad-tr { ${radTR()} }
    .${x} .${x}-rad-bl { ${radBL()} }
    .${x} .${x}-rad-br { ${radBR()} }
    
    .${x} .${x}-rad-tl-no { ${radTL(0)} }
    .${x} .${x}-rad-tr-no { ${radTR(0)} }
    .${x} .${x}-rad-bl-no { ${radBL(0)} }
    .${x} .${x}-rad-br-no { ${radBR(0)} }
    
<?}?>
