<?
/*Functions*/
function shrink(v){
    !isdef(v)?v=100:'';
    v = (100 - v) / 100; R?>
    -webkit-transform: scale(${v});
    -ms-transform: scale(${v});
    transform: scale(${v});
<?}

/*Export classes to CSS*/
function useClassShrink() { O?>
    .${x} .${x}-shrink100 { ${shrink(100)} }
    .${x} .${x}-shrink90 { ${shrink(90)} }
    .${x} .${x}-shrink80 { ${shrink(80)} }
    .${x} .${x}-shrink70 { ${shrink(70)} }
    .${x} .${x}-shrink60 { ${shrink(60)} }
    .${x} .${x}-shrink50 { ${shrink(50)} }
    .${x} .${x}-shrink40 { ${shrink(40)} }
    .${x} .${x}-shrink30 { ${shrink(30)} }
    .${x} .${x}-shrink20 { ${shrink(20)} }
    .${x} .${x}-shrink10 { ${shrink(10)} }
    .${x} .${x}-shrink0 { ${shrink(0)} }
<?}?>
