<?
/*Functions*/
function spin(s){
!isdef(s)?s=cfg.spd:'';
R?>
    display: inline-block;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: ${x}spin ${s}s 1 linear;
    animation: ${x}spin ${s}s 1 linear;
<?}

function spinCCW(s){
!isdef(s)?s=cfg.spd:'';
R?>
    display: inline-block;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: ${x}spin-ccw ${s}s 1 linear;
    animation: ${x}spin-ccw ${s}s 1 linear;
<?}

/*Export classes to CSS*/
function useClassSpin() { O?>
    .${x} .${x}-spin { ${spin()} }
    .${x} .${x}-spin-ccw { ${spinCCW()} }
<?}?>

<?/*Export keyframes to CSS*/O?>
@-webkit-keyframes ${x}spin {
0% {
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg); }
100% {
-webkit-transform: rotate(359deg);
-ms-transform: rotate(359deg);
transform: rotate(359deg); } }
@keyframes ${x}spin {
0% {
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg); }
100% {
-webkit-transform: rotate(359deg);
-ms-transform: rotate(359deg);
transform: rotate(359deg); } }


@-webkit-keyframes ${x}spin-ccw {
0% {
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg); }
100% {
-webkit-transform: rotate(-359deg);
-ms-transform: rotate(-359deg);
transform: rotate(-359deg); } }
@keyframes ${x}spin-ccw {
0% {
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg); }
100% {
-webkit-transform: rotate(-359deg);
-ms-transform: rotate(-359deg);
transform: rotate(-359deg); } }
