<?
/*Functions*/
function bolder(){R?> font-weight: ${cfg.fwt.bdr}; <?}
function bold(){R?> font-weight: ${cfg.fwt.bld}; <?}
function regular(){R?> font-weight: ${cfg.fwt.reg}; <?}
function thin(){R?> font-weight: ${cfg.fwt.thn}; <?}
function thinner(){R?> font-weight: ${cfg.fwt.thr}; <?}
function italic(){R?> font-style: italic; <?}
function upper(){R?> text-transform: uppercase; <?}
function lower(){R?> text-transform: lowercase; <?}
function under(){R?> text-transform: underline; <?}
function ellip(){R?>
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
<?}

/*Export classes to CSS*/
function useClassText() { O?>
    .${x} .${x}-bolder { ${bolder()} }
    .${x} .${x}-bold { ${bold()} }
    .${x} .${x}-regular { ${regular()} }
    .${x} .${x}-thin { ${thin} }
    .${x} .${x}-thinner { ${thinner()} }
    .${x} .${x}-italic { ${italic()} }
    .${x} .${x}-upper { ${upper()} }
    .${x} .${x}-lower { ${lower()} }
    .${x} .${x}-under { ${under()} }
    .${x} .${x}-ellip { ${ellip()} }
<?}?>
