<?

// Functions
function outT(){R?>
    webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
<?}
function outR(){R?>
    webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%);
<?}
function outB(){R?>
    webkit-transform: translateY(150%);
    -ms-transform: translateY(150%);
    transform: translateY(150%);
<?}
function outL(){R?>
    webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
<?}
function outNo(){R?>
    webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
<?}

// Build CSS
O?><?
setBPX(bps, function(b){R?>
    
    .${r} .${x}${s}${b}out-t { ${outT()} }
    .${r} .${x}${s}${b}out-r { ${outR()} }
    .${r} .${x}${s}${b}out-b { ${outB()} }
    .${r} .${x}${s}${b}out-l { ${outL()} }
    .${r} .${x}${s}${b}out-no { ${outNo()} }
    
<?});

?>
