<?
var r = 'app'; // Root class
var x = '';    // Selectors prefix
var s = '';    // Selectors separator

var maxw = 768;  // Max width
var minw = 320;  // Min width
var speed = 0.5; // Animation speed
var drk  = 30;   // Darken rate (%)
var rad  = 4;    // Border radius (px)

/*Breakpoints*/
var bps = [
    '0',
    '768px'
];

// Colors
var clr = {
    bgc: '#F5F5F5', // Bg color
    bdc: '#E6E6E6', // Generic borders and system elements
    txt: '#606C76', // Text
    lnk: '#337AB7', // Links
    pnl: '#FFFFFF', // Panels
    hdr: '#536878', // Headers
    htx: '#FFFFFF', // Header text
    mnu: '#536878', // Menu
    mtx: '#FFFFFF', // Menu text
    prm: '#536878', // Primary
    sec: '#77838C', // Secondary
    inf: '#17A2B8', // Info
    scc: '#3AAA35', // Success
    wrn: '#FFC107', // Warning
    dng: '#DC3545', // Danger
    wht: '#FFFFFF', // White
    blk: '#000000',  // Black
};

// Redefine variables
if (typeof bpxDefines !== 'undefined') {
    bpxDefines();
}
?>
