<?setBPX(true, function(b){
return ?>

    /* Columns */
    .${r} .${x}${s}${b}wrap {
        width: 100%;
        margin: 0 auto;
        max-width: ${maxw}px;
        min-width: ${minw}px;
    }
    .${r} .${x}${s}${b}wrap-min {
        width: 100%;
        margin: 0 auto;
        min-width: ${minw}px;
    }
    .${r} .${x}${s}${b}wrap-max {
        width: 100%;
        margin: 0 auto;
        max-width: ${maxw}px;
    }

    .${r} .${x}${s}${b}same-size {
        table-layout: fixed;
    }

    .${r} .${x}${s}${b}cols {
        display: table;
        width: 100%;
    }

    .${r} .${x}${s}${b}col,
    .${r} .${x}${s}${b}cols > * {
        width: auto;
        float: none;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .${r} .${x}${s}${b}col0 { width: ${((100/12)*0)}% }
    .${r} .${x}${s}${b}col1 { width: ${((100/12)*1)}%; }
    .${r} .${x}${s}${b}col2 { width: ${((100/12)*2)}%; }
    .${r} .${x}${s}${b}col3 { width: ${((100/12)*3)}%; }
    .${r} .${x}${s}${b}col4 { width: ${((100/12)*4)}%; }
    .${r} .${x}${s}${b}col5 { width: ${((100/12)*5)}%; }
    .${r} .${x}${s}${b}col6 { width: ${((100/12)*6)}%; }
    .${r} .${x}${s}${b}col7 { width: ${((100/12)*7)}%; }
    .${r} .${x}${s}${b}col8 { width: ${((100/12)*8)}%; }
    .${r} .${x}${s}${b}col9 { width: ${((100/12)*9)}%; }
    .${r} .${x}${s}${b}col10 { width: ${((100/12)*10)}%; }
    .${r} .${x}${s}${b}col11 { width: ${((100/12)*11)}%; }
    .${r} .${x}${s}${b}col12 { width: ${((100/12)*12)}%; }
    
    .${r} .${x}${s}${b}min-col0 { min-width: ${((100/12)*0)}% }
    .${r} .${x}${s}${b}min-col1 { min-width: ${((100/12)*1)}%; }
    .${r} .${x}${s}${b}min-col2 { min-width: ${((100/12)*2)}%; }
    .${r} .${x}${s}${b}min-col3 { min-width: ${((100/12)*3)}%; }
    .${r} .${x}${s}${b}min-col4 { min-width: ${((100/12)*4)}%; }
    .${r} .${x}${s}${b}min-col5 { min-width: ${((100/12)*5)}%; }
    .${r} .${x}${s}${b}min-col6 { min-width: ${((100/12)*6)}%; }
    .${r} .${x}${s}${b}min-col7 { min-width: ${((100/12)*7)}%; }
    .${r} .${x}${s}${b}min-col8 { min-width: ${((100/12)*8)}%; }
    .${r} .${x}${s}${b}min-col9 { min-width: ${((100/12)*9)}%; }
    .${r} .${x}${s}${b}min-col10 { min-width: ${((100/12)*10)}%; }
    .${r} .${x}${s}${b}min-col11 { min-width: ${((100/12)*11)}%; }
    .${r} .${x}${s}${b}min-col12 { min-width: ${((100/12)*12)}%; }
    
    .${r} .${x}${s}${b}max-col0 { max-width: ${((100/12)*0)}% }
    .${r} .${x}${s}${b}max-col1 { max-width: ${((100/12)*1)}%; }
    .${r} .${x}${s}${b}max-col2 { max-width: ${((100/12)*2)}%; }
    .${r} .${x}${s}${b}max-col3 { max-width: ${((100/12)*3)}%; }
    .${r} .${x}${s}${b}max-col4 { max-width: ${((100/12)*4)}%; }
    .${r} .${x}${s}${b}max-col5 { max-width: ${((100/12)*5)}%; }
    .${r} .${x}${s}${b}max-col6 { max-width: ${((100/12)*6)}%; }
    .${r} .${x}${s}${b}max-col7 { max-width: ${((100/12)*7)}%; }
    .${r} .${x}${s}${b}max-col8 { max-width: ${((100/12)*8)}%; }
    .${r} .${x}${s}${b}max-col9 { max-width: ${((100/12)*9)}%; }
    .${r} .${x}${s}${b}max-col10 { max-width: ${((100/12)*10)}%; }
    .${r} .${x}${s}${b}max-col11 { max-width: ${((100/12)*11)}%; }
    .${r} .${x}${s}${b}max-col12 { max-width: ${((100/12)*12)}%; }
    
    /*Flex*/
    .${r} .${x}${s}${b}col-flex {
        display: flex;
        flex-direction: column;
    }
    .${r} .${x}${s}${b}row-flex {
        display: flex;
        flex-direction: row;
    }
    .${r} .${x}${s}${b}full-flex {
        flex: auto;
    }
    .${r} .${x}${s}${b}wrap-flex {
        flex-wrap: wrap;
    }
    .${r} .${x}${s}${b}nowrap-flex {
        flex-wrap: nowrap;
    }

<?});?>