<?
/*Functions*/
function ipt(fc, bdc, bgc){R?>
    ${pnl(fc, bdc, bgc)}
    ${fullX()}
    ${alignM()}
    ${lnh(1.5)}
    ${ellip()}
    color: inherit;
    padding: 0.25em 0.5em;
    background-color: transparent;
<?}

/*Export classes to CSS*/
function useClassInput() { O?>
    .${x} .${x}-ipt { ${ipt()} }
    .${x} .${x}-ipt:focus {
        ${bdColor('sys', cfg.drk)}
    }
    <?for (var c in cfg.clr) {O?>
        .${x} .${x}-ipt-${c} {
            ${bdColor(c)}
        }
        .${x} .${x}-ipt-${c}:focus {
            ${bdColor(c, cfg.drk)}
        }
    <?}
}?>
