<?O?>
/*Bet buttons*/
.${x}-ui-panel .${x}-btn-bet {
    ${h1()}
    ${ease()}
    ${faster()}
    ${pad('lg')}
}
.${x}-ui-panel .${x}-btn-bet .${x}-ttl {
    ${abs()}
    top: 1.6em;
}
.${x}-ui-panel .${x}-btn-bet .${x}-txt {
    top: 6.3em;
    font-size: 0.4em;
    position: absolute;
}
.${x}-ui-panel .${x}-btn-bet .${x}-btim {
    ${bgImg()}
    ${contain()}
    ${pad('lg')}
    top: -0.1em;
    padding: 1.4em;
}

/*Position button elements*/
.${x}-ui-panel .${x}-btn-bet.${x}-bt2 .${x}-btim {
    top: -0.2em;
    padding: 1.4em;
}
.${x}-ui-panel .${x}-btn-bet.${x}-bt3 .${x}-btim {
    top: -0.15em;
    padding: 1.3em;
}
.${x}-ui-panel .${x}-btn-bet.${x}-bt4 .${x}-btim {
    top: -0.2em;
    padding: 1.3em;
}
.${x}-ui-panel .${x}-btn-bet.${x}-bt5 .${x}-btim {
    top: -0.2em;
    padding: 1.3em;
}
.${x}-ui-panel .${x}-btn-bet.${x}-bt6 .${x}-btim {
    top: 0em;
    padding: 1.3em;
}

/*Active status*/
.${x}-ui-panel .${x}-btn-bet.${x}-act {
    ${bdColor('cl2')}
    ${grow(10)}
}
.${x}-ui-panel .${x}-btn-bet.${x}-act,
.${x}-ui-panel .${x}-btn-bet.${x}-act .${x}-txt {
    ${fColor('cl2')}
}
