<?

// Functions
function shrink(v){
    v = v / 100; R?>
    -webkit-transform: scale(${v});
    -ms-transform: scale(${v});
    transform: scale(${v});
<?}

// Build CSS
O?><?
setBPX(bps, function(b){R?>
    
    .${r} .${x}${s}${b}shrink100 { ${shrink(100)} }
    .${r} .${x}${s}${b}shrink90 { ${shrink(90)} }
    .${r} .${x}${s}${b}shrink80 { ${shrink(80)} }
    .${r} .${x}${s}${b}shrink70 { ${shrink(70)} }
    .${r} .${x}${s}${b}shrink60 { ${shrink(60)} }
    .${r} .${x}${s}${b}shrink50 { ${shrink(50)} }
    .${r} .${x}${s}${b}shrink40 { ${shrink(40)} }
    .${r} .${x}${s}${b}shrink30 { ${shrink(30)} }
    .${r} .${x}${s}${b}shrink20 { ${shrink(20)} }
    .${r} .${x}${s}${b}shrink10 { ${shrink(10)} }
    .${r} .${x}${s}${b}shrink0 { ${shrink(0)} }
        
<?});

?>
