<?/**
 * Based on Necolas Gallagher's normalize.css
 * http://necolas.github.io/normalize.css/
 */ function useNormalize(){O?>
     
    .${x} {
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
    }
    .${x} body { margin: 0; }
    .${x} main { display: block; }
    .${x} h1 { margin: 0.67em 0; }
    
    .${x} hr {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0; overflow: visible;
    }
    .${x} pre {
        font-family: monospace, monospace;
        font-size: 1em;
    }
    .${x} a {
        background-color: transparent;
    }
    .${x} abbr[title] {
        border-bottom: none;
        text-decoration: underline;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
    }
    .${x} b,
    .${x} strong {
        font-weight: bolder;
    }
    .${x} code,
    .${x} kbd,
    .${x} samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }
    .${x} small {
        font-size: 0.8em;
    }
    
    .${x} sub,
    .${x} sup {
        font-size: 0.8em;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    .${x} sub {
        bottom: -0.25em;
    }
    .${x} sup {
        top: -0.5em;
    }
    
    .${x} img {
        border-style: none;
    }
    
    .${x} button,
    .${x} input,
    .${x} optgroup,
    .${x} select,
    .${x} textarea {
        font-family: inherit;
        font-size: 1em;
        line-height: 1.15;
        margin: 0;
    }
    .${x} button,
    .${x} input,
    .${x} select,
    .${x} textarea {
        border: 1px solid #ccc;
    }
    .${x} button[disabled],
    .${x} input[disabled],
    .${x} optgroup[disabled],
    .${x} select[disabled],
    .${x} textarea[disabled] {
        cursor: default!important;
    }
    .${x} button,
    .${x} input {
        overflow: visible;
    }
    .${x} button,
    .${x} select {
        text-transform: none;
    }
    .${x} input,
    .${x} select,
    .${x} textarea {
        background-color: transparent;
    }
    .${x} button,
    .${x} [type="button"],
    .${x} [type="reset"],
    .${x} [type="submit"] {
        background-color: #ccc;
        -webkit-appearance: button;
        -moz-appearance: button;
    }
    .${x} button::-moz-focus-inner,
    .${x} [type="button"]::-moz-focus-inner,
    .${x} [type="reset"]::-moz-focus-inner,
    .${x} [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }
    .${x} button:-moz-focusring,
    .${x} [type="button"]:-moz-focusring,
    .${x} [type="reset"]:-moz-focusring,
    .${x} [type="submit"]:-moz-focusring {
        outline: 1px dotted #ccc;
    }
    .${x} button {
        padding: 0.5em 1em;
    }
    
    .${x} fieldset {
        padding: 0.35em 0.75em 0.625em;
    }
    .${x} legend {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: inherit;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal;
    }
    .${x} progress {
        vertical-align: baseline;
    }
    .${x} textarea {
        overflow: auto;
        resize: vertical;
    }
    
    .${x} [type="checkbox"],
    .${x} [type="radio"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
    }
    .${x} [type="number"]::-webkit-inner-spin-button,
    .${x} [type="number"]::-webkit-outer-spin-button {
        height: auto;
    }
    .${x} [type="search"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
    }
    
    .${x} [type=search]::-ms-clear {  display: none; width : 0; height: 0; }
    .${x} [type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
    .${x} [type="search"]::-webkit-search-decoration,
    .${x} [type="search"]::-webkit-search-cancel-button,
    .${x} [type="search"]::-webkit-search-results-button,
    .${x} [type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: none;
    }
    .${x} ::-webkit-file-upload-button {
        -webkit-appearance: button;
        -moz-appearance: button;
        font: inherit;
    }
    .${x} details {
        display: block;
    }
    .${x} summary {
        display: list-item;
    }
    .${x} template {
        display: none;
    }
    .${x} [hidden] {
        display: none;
    }

<?}?>