<?
// Transitions
function ease(){r?>
    -webkit-transition: all ${spd}s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all ${spd}s cubic-bezier(0.25, 0.1, 0.25, 1);
<?}
function easeOut(){r?>
    -webkit-transition: all ${spd}s cubic-bezier(0, 0, 0.58, 1);
    transition: all ${spd}s cubic-bezier(0, 0, 0.58, 1);
<?}
function easeOutBack(){r?>
    -webkit-transition: all ${spd}s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all ${spd}s cubic-bezier(0.175, 0.885, 0.32, 1.275);
<?}
function spin(){r?>
    display: inline-block;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: ${x}spin ${spd}s 1 linear;
    animation: ${x}spin ${spd}s 1 linear;
<?}

// Iterations
function infinite(){r?>
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
<?}

// Speed
function slow(){r?>
    -webkit-transition-duration: ${(spd*2)}s;
    transition-duration: ${(spd*2)}s;
    -webkit-animation-duration: ${(spd*2)}s;
    animation-duration: ${(spd*2)}s;
<?}
function fast(){r?>
    -webkit-transition-duration: ${(spd/2)}s;
    transition-duration: ${(spd/2)}s;
    -webkit-animation-duration: ${(spd/2)}s;
    animation-duration: ${(spd/2)}s;
<?}
function faster(){r?>
    -webkit-transition-duration: ${(spd/4)}s;
    transition-duration: ${(spd/4)}s;
    -webkit-animation-duration: ${(spd/4)}s;
    animation-duration: ${(spd/4)}s;
<?}
function fastest(){r?>
    -webkit-transition-duration: ${(spd/6)}s;
    transition-duration: ${(spd/6)}s;
    -webkit-animation-duration: ${(spd/6)}s;
    animation-duration: ${(spd/6)}s;
<?}
function instant(){r?>
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
<?}

// Classes
function CLSAnim(bps) {
    var out = '';
    
    // General
    out += setBPX(bps, function(b){r?>
    .${r} .${x}${s}${b}ease { ${ease()} }
    .${r} .${x}${s}${b}ease-out { ${easeOut()} }
    .${r} .${x}${s}${b}ease-out-back { ${easeOutBack()} }
    .${r} .${x}${s}${b}spin { ${spin()} }
    .${r} .${x}${s}${b}infinite { ${infinite()} }
    .${r} .${x}${s}${b}slow { ${slow()} }
    .${r} .${x}${s}${b}fast { ${fast()} }
    .${r} .${x}${s}${b}faster { ${faster()} }
    .${r} .${x}${s}${b}fastest { ${fastest()} }
    .${r} .${x}${s}${b}instant { ${instant()} }  
    <?});
    
    // Keyframes
    out += ?>
    
    @-webkit-keyframes ${x}spin {
    0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
    100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
    
    @keyframes ${x}spin {
    0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
    100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
    
    <?;
    
    // Return
    return out;
}?>
