<?
/*Functions*/
function hue(v) {
    !isdef(v)?v=100:'';R?>
    filter: hue-rotate(${v}deg);
<?}
function blur(v) {
    !isdef(v)?v=1:'';R?>
    filter: blur(${v}px);
<?}
function bright(v) {
    !isdef(v)?v=200:'';R?>
    filter: brightness(${v}%);
<?}
function contrast(v) {
    !isdef(v)?v=200:'';R?>
    filter: contrast(${v}%);
<?}
function grayscale(v) {
    !isdef(v)?v=100:'';R?>
    filter: grayscale(${v}%);
<?}
function invert(v) {
    !isdef(v)?v=100:'';R?>
    filter: invert(${v});
<?}
function saturate(v) {
    !isdef(v)?v=500:'';R?>
    filter: invert(${v}%);
<?}
function sepia(v) {
    !isdef(v)?v=100:'';R?>
    filter: sepia(${v}%);
<?}

/*Export classes to CSS*/
function CoreFilter(bps) {
    BPX(bps, function(b){R?>
    .${r} .${x}${b}hue { ${hue()} }
    .${r} .${x}${b}blur { ${blur()} }
    .${r} .${x}${b}bright { ${bright()} }
    .${r} .${x}${b}contrast { ${contrast()} }
    .${r} .${x}${b}grayscale { ${grayscale()} }
    .${r} .${x}${b}invert { ${invert()} }
    .${r} .${x}${b}saturate { ${saturate()} }
    .${r} .${x}${b}sepia { ${sepia()} }
    <?});
}
?>
