<?
/*Functions*/
function flex(){R?> display: flex; <?}
function colFlex(){R?> ${flex()} flex-direction: column; <?}
function rowFlex(){R?> ${flex()} flex-direction: row; <?}
function fullFlex(){R?> flex: auto; <?}
function fallFlex(){R?> flex-wrap: wrap; <?}
function fallFlexNo(){R?> flex-wrap: nowrap; <?}
function justLFlex(){R?> justify-content: flex-start; <?}
function justCFlex(){R?> justify-content: center; <?}
function justRFlex(){R?> justify-content: flex-end; <?}
function alignLFlex(){R?> align-items: flex-start; <?}
function alignCFlex(){R?> align-items: center; <?}
function alignRFlex(){R?> align-items: flex-end; <?}
function midFlex(){R?>
    display: flex;
    align-items: center;
    justify-content: center;
<?}
function arndFlex(){R?> justify-content: space-around; <?}
function btwnFlex(){R?> justify-content: space-between; <?}

/*Export classes to CSS*/
function CoreFlex(bps) {
    BPX(bps, function(b){R?>
    .${r} .${x}${b}flex { ${flex()} }
    .${r} .${x}${b}col-flex { ${colFlex()} }
    .${r} .${x}${b}row-flex { ${rowFlex()} }
    .${r} .${x}${b}full-flex { ${fullFlex()} }
    .${r} .${x}${b}fall-flex { ${fallFlex()} }
    .${r} .${x}${b}fall-flex-no { ${fallFlexNo()} }
    .${r} .${x}${b}just-l-flex { ${justLFlex()} }
    .${r} .${x}${b}just-c-flex { ${justCFlex()} }
    .${r} .${x}${b}just-r-flex { ${justRFlex()} }
    .${r} .${x}${b}align-l-flex { ${alignLFlex()} }
    .${r} .${x}${b}align-c-flex { ${alignCFlex()} }
    .${r} .${x}${b}align-r-flex { ${alignRFlex()} }
    .${r} .${x}${b}mid-flex { ${midFlex()} }
    .${r} .${x}${b}arnd-flex { ${arndFlex()} }
    .${r} .${x}${b}btwn-flex { ${btwnFlex()} }
    <?});
}
?>
