<?
/*Functions*/
function grow(v){
    !isdef(v)?v=100:'';
    v = (100 + v) / 100; R?>
    -webkit-transform: scale(${v});
    -ms-transform: scale(${v});
    transform: scale(${v});
<?}

/*Export classes to CSS*/
function CoreGrow(bps) {
    BPX(bps, function(b){R?>
    .${r} .${x}${b}grow10 { ${grow(10)} }
    .${r} .${x}${b}grow20 { ${grow(20)} }
    .${r} .${x}${b}grow30 { ${grow(30)} }
    .${r} .${x}${b}grow40 { ${grow(40)} }
    .${r} .${x}${b}grow50 { ${grow(50)} }
    .${r} .${x}${b}grow60 { ${grow(60)} }
    .${r} .${x}${b}grow70 { ${grow(70)} }
    .${r} .${x}${b}grow80 { ${grow(80)} }
    .${r} .${x}${b}grow90 { ${grow(90)} }
    .${r} .${x}${b}grow100 { ${grow(100)} }
    .${r} .${x}${b}grow0 { ${grow(0)} }
    <?});
}
?>
