<?
var PADXS = 0.5;
var PADSM = 1;
var PADMD = 2;
var PADLG = 3;
var PADXL = 4;

/*Functions*/
function pad(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding: ${cfg.pad*v}em;
<?}
function padX(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-left: ${cfg.pad*v}em;
    padding-right: ${cfg.pad*v}em;
<?}
function padY(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-top: ${cfg.pad*v}em;
    padding-bottom: ${cfg.pad*v}em;
<?}
function padT(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-top: ${cfg.pad*v}em;
<?}
function padR(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-right: ${cfg.pad*v}em;
<?}
function padB(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-bottom: ${cfg.pad*v}em;
<?}
function padL(v){
    !isdef(v)?v=PADSM:'';
    v == 'xs'?v=PADXS:'';
    v == 'sm'?v=PADSM:'';
    v == 'md'?v=PADMD:'';
    v == 'lg'?v=PADLG:'';
    v == 'xl'?v=PADXL:'';R?>
    padding-left: ${cfg.pad*v}em;
<?}

/*Export classes to CSS*/
function CorePadding(bps) {
    BPX(bps, function(b){R?>
    
    .${r} .${x}${b}pad { ${pad('sm')} }
    .${r} .${x}${b}pad-xs { ${pad('xs')} }
    .${r} .${x}${b}pad-sm { ${pad('sm')} }
    .${r} .${x}${b}pad-md { ${pad('md')} }
    .${r} .${x}${b}pad-lg { ${pad('lg')} }
    .${r} .${x}${b}pad-xl { ${pad('xl')} }
    .${r} .${x}${b}pad-no { ${pad(0)} }
    
    .${r} .${x}${b}pad-x { ${padX('sm')} }
    .${r} .${x}${b}pad-x-xs { ${padX('xs')} }
    .${r} .${x}${b}pad-x-sm { ${padX('sm')} }
    .${r} .${x}${b}pad-x-md { ${padX('md')} }
    .${r} .${x}${b}pad-x-lg { ${padX('lg')} }
    .${r} .${x}${b}pad-x-xl { ${padX('xl')} }
    .${r} .${x}${b}pad-x-no { ${padX(0)} }
    
    .${r} .${x}${b}pad-y { ${padY('sm')} }
    .${r} .${x}${b}pad-y-xs { ${padY('xs')} }
    .${r} .${x}${b}pad-y-sm { ${padY('sm')} }
    .${r} .${x}${b}pad-y-md { ${padY('md')} }
    .${r} .${x}${b}pad-y-lg { ${padY('lg')} }
    .${r} .${x}${b}pad-y-xl { ${padY('xl')} }
    .${r} .${x}${b}pad-y-no { ${padY(0)} }
    
    .${r} .${x}${b}pad-t { ${padT('sm')} }
    .${r} .${x}${b}pad-t-xs { ${padT('xs')} }
    .${r} .${x}${b}pad-t-sm { ${padT('sm')} }
    .${r} .${x}${b}pad-t-md { ${padT('md')} }
    .${r} .${x}${b}pad-t-lg { ${padT('lg')} }
    .${r} .${x}${b}pad-t-xl { ${padT('xl')} }
    .${r} .${x}${b}pad-t-no { ${padT(0)} }
    
    .${r} .${x}${b}pad-r { ${padR('sm')} }
    .${r} .${x}${b}pad-r-xs { ${padR('xs')} }
    .${r} .${x}${b}pad-r-sm { ${padR('sm')} }
    .${r} .${x}${b}pad-r-md { ${padR('md')} }
    .${r} .${x}${b}pad-r-lg { ${padR('lg')} }
    .${r} .${x}${b}pad-r-xl { ${padR('xl')} }
    .${r} .${x}${b}pad-r-no { ${padR(0)} }
    
    .${r} .${x}${b}pad-b { ${padB('sm')} }
    .${r} .${x}${b}pad-b-xs { ${padB('xs')} }
    .${r} .${x}${b}pad-b-sm { ${padB('sm')} }
    .${r} .${x}${b}pad-b-md { ${padB('md')} }
    .${r} .${x}${b}pad-b-lg { ${padB('lg')} }
    .${r} .${x}${b}pad-b-xl { ${padB('xl')} }
    .${r} .${x}${b}pad-b-no { ${padB(0)} }
    
    .${r} .${x}${b}pad-l { ${padL('sm')} }
    .${r} .${x}${b}pad-l-xs { ${padL('xs')} }
    .${r} .${x}${b}pad-l-sm { ${padL('sm')} }
    .${r} .${x}${b}pad-l-md { ${padL('md')} }
    .${r} .${x}${b}pad-l-lg { ${padL('lg')} }
    .${r} .${x}${b}pad-l-xl { ${padL('xl')} }
    .${r} .${x}${b}pad-l-no { ${padL(0)} }
    <?});
}
?>
