<?
/*Functions*/
function shrink(v){
    !isdef(v)?v=100:'';
    v = (100 - v) / 100; R?>
    -webkit-transform: scale(${v});
    -ms-transform: scale(${v});
    transform: scale(${v});
<?}

/*Export classes to CSS*/
function CoreShrink(bps) {
    BPX(bps, function(b){R?>
    .${r} .${x}${b}shrink100 { ${shrink(100)} }
    .${r} .${x}${b}shrink90 { ${shrink(90)} }
    .${r} .${x}${b}shrink80 { ${shrink(80)} }
    .${r} .${x}${b}shrink70 { ${shrink(70)} }
    .${r} .${x}${b}shrink60 { ${shrink(60)} }
    .${r} .${x}${b}shrink50 { ${shrink(50)} }
    .${r} .${x}${b}shrink40 { ${shrink(40)} }
    .${r} .${x}${b}shrink30 { ${shrink(30)} }
    .${r} .${x}${b}shrink20 { ${shrink(20)} }
    .${r} .${x}${b}shrink10 { ${shrink(10)} }
    .${r} .${x}${b}shrink0 { ${shrink(0)} }
    <?});
}
?>
