<?
/*Functions*/
function slow(s){
!isdef(s)?s=cfg.spd:'';
R?>
    -webkit-transition-duration: ${s*2}s;
    transition-duration: ${s*2}s;
    -webkit-animation-duration: ${s*2}s;
    animation-duration: ${s*2}s;
<?}
function fast(s){
!isdef(s)?s=cfg.spd:'';
R?>
    -webkit-transition-duration: ${s/2}s;
    transition-duration: ${s/2}s;
    -webkit-animation-duration: ${(s/2)}s;
    animation-duration: ${s/2}s;
<?}
function faster(s){
!isdef(s)?s=cfg.spd:'';
R?>
    -webkit-transition-duration: ${s/4}s;
    transition-duration: ${s/4}s;
    -webkit-animation-duration: ${s/4}s;
    animation-duration: ${s/4}s;
<?}
function fastest(s){
!isdef(s)?s=cfg.spd:'';
R?>
    -webkit-transition-duration: ${s/6}s;
    transition-duration: ${s/6}s;
    -webkit-animation-duration: ${s/6}s;
    animation-duration: ${s/6}s;
<?}
function instant(){R?>
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
<?}

/*Export classes to CSS*/
function CoreSpeed(bps) {
    BPX(bps, function(b){R?>
    .${r} .${x}${b}slow { ${slow()} }
    .${r} .${x}${b}fast { ${fast()} }
    .${r} .${x}${b}faster { ${faster()} }
    .${r} .${x}${b}fastest { ${fastest()} }
    .${r} .${x}${b}instant { ${instant()} }
    <?});
}
?>
