<?
// Functions
function wrap(max, min){r?>
    width: 100%;
    margin: 0 auto;
    max-width: ${max};
    min-width: ${min};
<?}
function wrapMin(min){r?>
    width: 100%;
    margin: 0 auto;
    min-width: ${min};
<?}
function wrapMax(max){r?>
    width: 100%;
    margin: 0 auto;
    max-width: ${max};
<?}
function sameSz(max){r?>
    table-layout: fixed;
<?}

// Classes
function CLSWrapper(bps) {
    return setBPX(bps, function(b){r?>
        
        .${r} .${x}${s}${b}wrap { ${wrap(mxw+'px', mnw+'px')} }
        .${r} .${x}${s}${b}wrap-min { ${wrapMin(mnw+'px')} }
        .${r} .${x}${s}${b}wrap-max { ${wrapMax(mxw+'px')} }
        .${r} .${x}${s}${b}same-sz { ${sameSz()} }
        
    <?});
}?>
